/*
    Styling for the new pages.
    1. Comments section
    2. Search page
    3. Pagination for news page and archives page
    4. 404 Page
    5. Sticky Post
    6. Widgets
    7. Submenu
    8. Navigation for news page and archives
*/


/* 1. Comments section */

#commentsSection, #comments {
    padding: 200px 0px 150px 0px;
    background: #0c0c0c;
    position: relative;
    @media (max-width: 1200px){
        padding: 150px 0px 150px 0px;
    }
    @media (max-width: 480px){
        padding: 100px 0 150px 0px;
    }
    @media (min-width: 2000px){
        padding: 400px 0px;
    }

    .comments-form{
        //padding-right: 150px;
        @media (max-width: 1200px){
            order: 2;
        }
        @media (max-width: 567px){
            padding-right: 0px;
        }

        h2{
            //margin-bottom: 50px;
            margin-bottom: 35px;
            @media (max-width: 480px){
                margin-bottom: 35px;
            }
        }
        p {
            color: #878787;
            font-size: .9em;
        }

        input{
            width: 100%;
            background: transparent;
            border: 0;
            border-bottom: 1px solid #333;
            padding: 0 0 10px 0;
            margin: 20px 0px 20px 0px;
            font-weight: 300;
            font-size: 1em;
            color: #fff;
            transition: .25s cubic-bezier(.75,.25,.25,.75);

            &::placeholder{
                color: #888;
                font-weight: 300;
            }

            &:focus{
                outline: 0;
                border-bottom: 1px solid #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }
        }
        input[type=checkbox]{
            color: #fff;
            width: auto;
            margin: auto 16px auto 0;
        }

        textarea{
            width: 100%;
            background: transparent;
            border: 0;
            border-bottom: 1px solid #333;
            padding: 0 0 10px 0;
            margin: 20px 0px 20px 0px;
            font-weight: 300;
            min-height: 100px;
            font-size: 1em;
            color: #fff;
            transition: .25s cubic-bezier(.75,.25,.25,.75);

            &::placeholder{
                color: #888;
                font-weight: 300;
            }

            &:focus{
                outline: 0;
                border-bottom: 1px solid #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }
        }

        input[type=submit]{
            padding: 10px 20px;
            margin: 30px 0 0 0;
            border: 0;
            font-weight: 300;
            font-size: .9em;
            color: #fff;
            text-align: left;
            transition: .25s cubic-bezier(.75,.25,.25,.75);
            position: relative;
            border: 1px solid #285BD4;
            background: transparent;
            display: inline-block;
            width: auto;

            &:hover{
                background: #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }

            &:focus{
                outline: 0;
                text-decoration: none;
            }
        }
    }

    .comment-form-cookies-consent {
        display: flex;
    }

    .comments-list{
        //margin-top: 15px;
        padding-left: 50px;
        @media (max-width: 1400px){
            padding-left: 0px;
        }
        @media(max-width: 1200px){
            padding-left: 15px;
            order: 1;
            margin-bottom: 150px;
        }
        @media (max-width: 480px){
            margin-bottom: 100px;
        }

        h2{
            margin-top: 0.5em;
            font-size: 1.75em;
            margin-bottom: 65px;
            padding-left: 35px;
            @media(max-width: 1200px){
                margin-bottom: 50px;
                padding-left: 15px;
            }
            @media (max-width: 480px){
                font-size: 1.5em;
            }
        }

        .comment{
            margin-bottom: 50px;
            @media (max-width: 1200px){
                margin-bottom: 25px;
            }

            img{
                border-radius: 50%;
                width: 32px;
                height: 32px;
                //margin-bottom: 25px;
            }

            h3{
                font-size: 1em;
                font-weight: 300;
                margin-bottom: 15px;
                color: #888;
                @media (max-width: 567px){
                    font-size: .9em;
                }

                a{
                    color: #fff;
                }

                span{
                    color: #fff;
                }
            }

            &.reply{
                padding-left: 50px;
                @media (max-width: 480px){
                    padding-left: 25px;
                }
            }

            .comment-body{
                //padding-left: 35px;
                @media (max-width: 1200px){
                    //padding-left: 15px;
                }
            }
        }
    }
}


/* 2. Search page */

.simple-hero{
    h1{
        input{
            background: transparent !important;
            border: 0;
            border-bottom: 1px solid #333;
            padding: 0 0 10px 0;
            margin: 20px 0px 20px 0px;
            font-weight: 300;
            color: #fff;
            transition: .25s cubic-bezier(.75,.25,.25,.75);
            @media(max-width: 1400px){
                font-size: .75em;
            }
            @media (max-width: 768px){
                font-size: .6em;
                padding-right: 0px;
            }

            &:focus{
                outline: 0;
                border-bottom: 1px solid #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }
        }
    }
}

/* 3. Pagination */

.pagination{
    padding: 0px 15px 200px 15px;

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;

        li{
            font-size: .8em;
            border: 1px solid #285BD4;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            transition: .25s cubic-bezier(.75,.25,.25,.75);

            &.current{
                background: #285BD4;
            }

            &:hover{
                background: #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }
        }
    }

    .nav-links {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;

        a, span {
            font-size: .8em;
            border: 1px solid #285BD4;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            transition: .25s cubic-bezier(.75,.25,.25,.75);
            color: white;

            &:after {
                content: none;
            }

            &.current{
                background: #285BD4;
            }

            &:hover{
                background: #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }
        }
        .page-numbers.dots {
            border: none;
            background: none;
            &:hover{
                border: none;
                background: none;
            }
        }
    }
}

#newsSection{
    padding-bottom: 50px;
}

/* 4. 404 Page */

.page-404{
    h1{

        input{
            font-size: .8em;
        }

        &.big-title{
            margin-bottom: 50px !important;
        }
    }

    a{
        color: #fff;
        margin-left: 50px;
    }
}

/* 5. Sticky post */

.sticky{
    .blog-date{
        h5{
            @media (max-width: 1200px){
                margin-top: 20px !important;
            }
            @media (max-width: 992px){
                margin-top: 37px !important;
            }
        }
    }

    .sub-title{
        @media (max-width: 992px){
            display: inline-block;
            margin-right: 20px;
        }
    }
    .featured{
        padding: 7px 8px 5px 8px;
        background: #285BD4;
        color: #b0c5f4 !important;
        display: inline-block;
        font-size: .65em !important;
        border-radius: 5px;
        margin-top: 20px !important;
        @media (max-width: 576px){
            padding-top: 5px;
        }
    }
}

/* 6. Widgets */

select{
    border: 0;
    background: #151515;
    padding: 10px;
    color: #fff;

    &:focus{
        outline: 0;
    }
}

.recent-comment{
    h4{
        color: #888 !important;

        span{
            color: #fff !important;
        }

        a{
            color: #fff !important;
        }
    }
}

.rss-box{
    p{
        font-size: .9em;
    }
}

.widget{
    input{
        width: 100% !important;
        background: transparent !important;
        border: 0;
        border-bottom: 1px solid #333;
        padding: 0 0 10px 0;
        margin: 20px 0px 20px 0px;
        font-weight: 300;
        font-size: 1em;
        color: #fff;
        transition: .25s cubic-bezier(.75,.25,.25,.75);

        &::placeholder{
            color: #888;
            font-weight: 300;
        }

        &:focus{
            outline: 0;
            border-bottom: 1px solid #285BD4;
            transition: .25s cubic-bezier(.75,.25,.25,.75);
        } 
    }

    .tags{

        span{
            display: inline-block;
            margin-bottom: 10px;
            border: 1px solid #285BD4;
            padding: 7px 10px;
            border-radius: 25px;
            font-size: .7em;
            margin-right: 10px;
            color: #fff;
            cursor: pointer;
            transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75);
        }
    }
}

/* 7. Submenu */

.main-menu{
    li{
        position: relative;

        ul{
            position: absolute;
            left: 60px;
            top: 65px;
            text-align: left;
            padding: 15px 35px 20px 30px;
            background: #070707;
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75);
            @media (max-width: 768px){
                left: 0px;
            }
            @media(max-width: 480px){
                padding: 10px 30px 15px 25px;
            }

            li{
                display: inline-block;
                color: #888;
                @media(max-width: 480px){
                    font-size: .7em;
                }
            }
            a {
                display: inline-block;
                color: #888;
                margin: 0;
                white-space: nowrap;
                &:after {
                    content: none;
                }
            }
        }

    }
    .menu-item.menu-item-has-children {
        &:hover > ul{
            top: 45px;
            opacity: 1;
            visibility: visible;
            transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75);
        }
    }
}

/* 8. Navigation for news page and archives */

#singleNews{
    padding-bottom: 100px;
}

#postNav{
    padding: 100px 0px 200px 0px;
    @media (max-width: 480px){
        padding: 0px 0px 100px 0px;
    }

    a{
        color: #fff;
    }

    .post-nav-center{
        text-align: center;
    }

    .post-nav-right{
        text-align: right;
    }

    .post-nav{
        h1{
            font-size: 1.75em;
            @media (max-width: 768px){
                font-size: 1.25em !important;
            }

            @media (max-width: 480px){
                font-size: 1em !important;
            }
            @media (max-width: 400px){
                font-size: .8em !important;
            }
        }
    }
}