/*!
Theme Name: Strada
Theme URI: http://underscores.me/
Author: Artem Horbenko & raduCio
Author URI: https://horbenko.com
Description: Strada - Creative Agency/Personal Theme. First of all, we'd like to thank you for buying our product. We hope it'll be a problem solver for you. Cheers!
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: strada
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Strada is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

// Import variables and mixins.
@import "abstracts/abstracts";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
//@import "generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "generic/box-sizing";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
// @import "base/base";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
// @import "layouts/content-sidebar"; // Uncomment this line for a sidebar on right side of your content.
// @import "layouts/sidebar-content"; // Uncomment this line for a sidebar on left side of your content.

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/components";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */
@import "plugins/jetpack/infinite-scroll";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */
@import "utilities/accessibility";

/* Alignments
--------------------------------------------- */
@import "utilities/alignments";


html,
body {
	height: 100%;
	overflow: initial !important;
	overflow-x: initial !important;
	// background: #000;
}
body {
	position: relative;
}


/* 
Need design

Required:
- Single Post Comments +
- Search page +
- Archives pagination +
- Single post pagination +
- 404 page +
- Archive Sticky Post +
- Base WP widgets +

Optional
- Header secindary & third levels, submenu? +
- Search icon header & search form or popup?
- Single post prev/next? +
- Recent Posts?

 */




/* 
Need design 2

- Search page: no results found
- Portfolio pagination, load more button
- Comments for single page

- Screenshots.png (for theme preview)

Optional 2
- Add subtitle field for admin panel in pages, post?
- /keyboard-navigation 
- /post-format-image/

*/

/* 

TODO:
- /template-password-protected/
- /blocks-widgets/
- Comments
	/template-pingbacks-an-trackbacks/
	/template-comments/
- Widgets

- Single post,page project aimation for all content ?

- Elementor 'deep' of widgets

- Sigle Post Commets Reply on Desktop

- Focus state?

- Filenames, copyrights, author 

- text-domain

- Multilanguages

- Terms?

- Child theme

*/



/* 

Questions 

1) When Footer & Comments together?
2) Grid responsive layout El has only 3 br.points. Maybe we should simplify
3) Prev project link?


*/


 @import "strada";
 @import "new";
 
img {
    width: 100%;
    height: auto;
}
.wp-block-image {
	img {
		width: auto;
		height: auto;
		min-width: initial;
	}
}
.entry-content {
	img {
		width: auto;
		height: auto;
		min-width: initial;
	}
}
 


/* Fix link custom uderline */
.posted-on a {
    color: #888;
    &:after {
        content: none;
    }
}
.wp-block-image,
.wp-block-button,
.wp-block-cover,
.wp-block-gallery,
.gallery,
table,
.wp-calendar-nav
{
	a:after {
		content: none;
	}
}
.wp-block-file__button:after {
	content: none;
}



/* Why not work? */
// https://drafts.csswg.org/selectors-4/#has-pseudo
a:has( * ) {
	background: red;
	border: 4px solid yellow;
}
a:has(> * ) {
	background: red;
	border: 4px solid yellow;
}
a:has(> img) {
	background: red;
	border: 4px solid yellow;
}
a:has(> img):after {
	content: none;
}



/* Some hot fixes */

// page /blocks-widgets/
.wp-block-rss__item-title {
	display: inline-block;
}

.wp-block-gallery::after {
    display: block;
    clear: both;
    content: "";
    box-sizing: border-box;
}



body.error404 .scroll-down {
	display: none;
}





body.page-template-default {
	.container-fluid-small .container-fluid-small {
		padding: 0;
	}
}



.wpcf7 {
	label {
		display: block;
	}
	input:not([tyype="submit"]), textarea {

		//margin: 0 !important;
		font-size: 1rem !important;

		&.wpcf7-not-valid {
			border-color: #dc3232 !important;
		}
	}
	input[type="submit"]{
		font-size: 0.8em !important;
	}
	p {
    	margin: 0 !important;
	}
}








.break-word {
	word-break: break-word;
}







/* Hot fixes */
button, input, textarea, select {
	border-radius: 0;
}



#wpadminbar {
	a:after {
		content: none;
	}
}


@media (min-width: 1200px) {
	#footerSection .row .widget:nth-child(3) {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}







.widget_recent_entries {
	li {
	    margin-bottom: 30px;

	    a {
	        font-weight: 300;
	        color: #fff !important;
	        font-size: 1.16em;
	        line-height: 1.6;
	    	margin-bottom: 15px;
	    	display: block;
	    	&:after {
	    		content: none !important;
	    	}
	    }

	    .post-date{
	        font-size: .75em;
	        color: #888;
	        margin-bottom: 1rem;
	    }

	    &:last-child{
	        margin-bottom: 0px;
	    }
	}
}




#newsSection .blog-post.selected .blog-title h2 {
	min-height: 3em;
}

.comment-form .logged-in-as {
	a {
		color: #aaa;
	}
}

body.error404,
body.search
{
	#heroSection h1.big-title {
		max-width: initial !important;
	}
}

body.search-no-results {
	#heroSection h1.big-title {
		font-size: 2em;
	}
}






// TODO
body.elementorLayoutStrada .elementor-section.elementor-section-boxed > .elementor-container {
	max-width: 100% !important;
	padding: 0 10vw;
	box-sizing: border-box;
	// @media (max-width: 767px) {
	// }
	// @media (min-width: 768px) {
	// 	max-width: 100% !important;
	// 	padding: 0 10vw;
	// }

	// @media (min-width: 1140px) {
	// 	padding: 0 15vw;
	// }

	@media (min-width: 2000px) {
    	padding: 0 20vw;	
	}

	@media (max-width: 1600px) {
    	padding: 0 10vw;	
	}
}

body.elementorLayoutStrada  .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
	@media (max-width: 768px) {
		padding-left: 0;
		padding-right: 0;
	}
}











/* Anim */
.loading-overlay {
	left: 0;
}

.anim-bot {
	opacity: 0;
	transform: translateY(25px);
	transition: opacity .5s, transform .5s;
	&.showed {
		opacity: 1;
		transform: translateY(0);
	}
}
.anim-bot-big {
	opacity: 0;
	transform: translateY(25px);
	transition: opacity 1s, transform 1s;
	&.showed {
		opacity: 1;
		transform: translateY(0);
	}
}
.anim-right {
	opacity: 0;
	transform: translateX(25px);
	transition: opacity 1s, transform 1s;
	&.showed {
		opacity: 1;
		transform: translateY(0);
	}
}

.site-header {
	opacity: 0;
	transform: translateY(25px);
	transition: opacity .5s, transform .5s;
	&.showed {
		opacity: 1;
		transform: translateY(0);
	}
}
#heroSection h6,
#heroSection h1
{
	opacity: 0;
	transform: translateY(15px);
	transition: opacity .5s, transform .5s;
	&.showed {
		opacity: 1;
		transform: translateY(0);
	}
}
.scroll-down {
	opacity: 0;
	transform: translateY(15px);
	transition: opacity .5s, transform .5s;
	&.showed {
		opacity: 1;
		transform: translateY(0);
	}
}


/* 

TODO

To add everyewhere?
if ( ! defined( 'ABSPATH' ) ) {
	exit; // Exit if accessed directly.
}



 */