.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


.comment-navigation {
	margin: 20px 0;
}


.comment-list {
	list-style: none;
	padding: 0;

	ol {
		list-style: none;
		padding-left: 70px;
		margin: 0 0 1rem 0;
		@media (max-width: 1200px){
			padding-left: 30px;
		}
	}

	li {
		margin: 0 0 1rem 0;
		padding-left: 35px;
		@media (max-width: 1200px){
			padding-left: 15px;
		}

		&.parent {
			.comment-body {
				//margin: 0 0 1rem 0;
				margin: 0 0 50px 0;
			}
		}
	}

	.comment-meta {
		//margin: 0 0 15px 0;
		margin: 0 0 5px 0;
	}

	.comment-author {
		display: inline-block;
		b {
			font-weight: normal;
		}
	}
	.avatar {
		vertical-align: top;
		margin: 6px 20px 0 0;
		//margin: 0 !important;
		//position: absolute;
		//display: block;
		//top: 0;
		//left: 0;
	}

	.comment-metadata {
		margin: -10px 0 0 57px;
		font-size: .75em;
		color: #888;
		//display: inline;
		//padding: 5px 0 0 50px;
		//font-size: 0.8em;
		a {
			color: #b6b6b6;
		}
	}
}






#respond {
	margin: 10px 0 0 0;
}
#cancel-comment-reply-link {
	margin-left: 10px;
}










.comment-reply-title.big-title {
	font-size: 2.2em;
	& > a {
		color: #fff;
		&:after {
			content: none;
		}
	}
	small {
		font-size: 0.5em;
	}
}


#comments {
	.comment-respond .comment-form {
		input,
		textarea {
			margin: 20px 0;
		}
		p {
			margin: 0;
		}
	}


	.comment-respond .comment-form p.comment-form-cookies-consent {
		//margin-bottom: 1.5rem
		margin-bottom: 0;
	}

	.comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox] {
		float: left;
		margin: .1875rem 1rem .1875rem .1875rem;
		opacity: 0
	}

	.comment-respond .comment-form p.comment-form-cookies-consent label {
		position: relative;
		font-size: 0.9em;
	}

	.comment-respond .comment-form p.comment-form-cookies-consent label::before {
		position: absolute;
		content: "";
		display: inline-block;
		height: 16px;
		width: 16px;
		border: 1px solid #333;
		left: -30px;
		top: 3px;
	}

	.comment-respond .comment-form p.comment-form-cookies-consent label::after {
		position: absolute;
		content: "";
		display: inline-block;
		height: 6px;
		width: 9px;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(-45deg);
		left: -27px;
		top: 7px
	}

	.comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox]+label::after {
		content: none
	}

	.comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox]:checked+label::after {
		content: ''
	}

	.comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox]:checked+label::before {
		border-color: #007bff;
		background: #007bff
	}

	.comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox]:checked+label {
		//color: #1f1f1f
	}
}




.comment-metadata {
	a {
		color: #888;
		&:after {
			content: none;
		}
	}
}

.comment-content,
.reply
{
	margin-left: 57px;
}

.comment-content {
	margin-top: 10px;
}

.reply {
	a {
		color: #aaa;
		font-size: 0.9em;
	}
}


#comments .comments-list .children {
	.comment {
		padding-left: 0;
	}
}

#comments .comment-list .comment-author .fn a {
	color: #fff;
	&:after {
		content: none;
	}
}

.comment-awaiting-moderation {
	display: block;
	margin-left: 57px;	
}

.comment-notes {
	margin-bottom: 20px !important;
}