/*!
Theme Name: Strada
Theme URI: http://underscores.me/
Author: Artem Horbenko & raduCio
Author URI: https://horbenko.com
Description: Strada - Creative Agency/Personal Theme. First of all, we'd like to thank you for buying our product. We hope it'll be a problem solver for you. Cheers!
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: strada
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Strada is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}.main-navigation{display:block;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul{display:block;left:auto}.main-navigation ul ul a{width:200px}.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul{left:auto}.main-navigation li{position:relative}.main-navigation a{display:block;text-decoration:none}.main-navigation.toggled ul,.menu-toggle{display:block}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{margin:0 0 1.5em}.comment-navigation .nav-links,.post-navigation .nav-links,.posts-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{text-align:end;flex:1 0 50%}.pagination .container-fluid-small{padding:0}.sticky{display:block}.page,.post{margin:0 0 1.5em}.updated:not(.published){display:none}.entry-content,.entry-summary,.page-content{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.comment-navigation{margin:20px 0}.comment-list{list-style:none;padding:0}.comment-list ol{list-style:none;padding-left:70px;margin:0 0 1rem}.comment-list li{margin:0 0 1rem;padding-left:35px}.comment-list li.parent .comment-body{margin:0 0 50px}.comment-list .comment-meta{margin:0 0 5px}.comment-list .comment-author{display:inline-block}.comment-list .comment-author b{font-weight:400}.comment-list .avatar{vertical-align:top;margin:6px 20px 0 0}.comment-list .comment-metadata{margin:-10px 0 0 57px;font-size:.75em;color:#888}.comment-list .comment-metadata a{color:#b6b6b6}#respond{margin:10px 0 0}#cancel-comment-reply-link{margin-left:10px}.comment-reply-title.big-title{font-size:2.2em}.comment-reply-title.big-title>a{color:#fff}.comment-reply-title.big-title>a:after{content:none}.comment-reply-title.big-title small{font-size:.5em}#comments .comment-respond .comment-form input,#comments .comment-respond .comment-form textarea{margin:20px 0}#comments .comment-respond .comment-form p{margin:0}#comments .comment-respond .comment-form p.comment-form-cookies-consent{margin-bottom:0}#comments .comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox]{float:left;margin:.1875rem 1rem .1875rem .1875rem;opacity:0}#comments .comment-respond .comment-form p.comment-form-cookies-consent label{position:relative;font-size:.9em}#comments .comment-respond .comment-form p.comment-form-cookies-consent label:before{position:absolute;content:"";display:inline-block;height:16px;width:16px;border:1px solid #333;left:-30px;top:3px}#comments .comment-respond .comment-form p.comment-form-cookies-consent label:after{position:absolute;content:"";display:inline-block;height:6px;width:9px;border-left:2px solid #fff;border-bottom:2px solid #fff;transform:rotate(-45deg);left:-27px;top:7px}#comments .comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox]+label:after{content:none}#comments .comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox]:checked+label:after{content:""}#comments .comment-respond .comment-form p.comment-form-cookies-consent input[type=checkbox]:checked+label:before{border-color:#007bff;background:#007bff}.comment-metadata a{color:#888}.comment-metadata a:after{content:none}.comment-content,.reply{margin-left:57px}.comment-content{margin-top:10px}.reply a{color:#aaa;font-size:.9em}#comments .comments-list .children .comment{padding-left:0}#comments .comment-list .comment-author .fn a{color:#fff}#comments .comment-list .comment-author .fn a:after{content:none}.comment-awaiting-moderation{display:block;margin-left:57px}.comment-notes{margin-bottom:20px!important}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2,1fr)}.gallery-columns-3{grid-template-columns:repeat(3,1fr)}.gallery-columns-4{grid-template-columns:repeat(4,1fr)}.gallery-columns-5{grid-template-columns:repeat(5,1fr)}.gallery-columns-6{grid-template-columns:repeat(6,1fr)}.gallery-columns-7{grid-template-columns:repeat(7,1fr)}.gallery-columns-8{grid-template-columns:repeat(8,1fr)}.gallery-columns-9{grid-template-columns:repeat(9,1fr)}.gallery-caption{display:block}.infinite-scroll.neverending .site-footer,.infinite-scroll .posts-navigation{display:none}.infinity-end.neverending .site-footer{display:block}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;clip-path:none;color:#21759b;display:block;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}body,html{height:100%;overflow:initial!important;overflow-x:initial!important}body{position:relative}
/* 
   !!!!!===== TABLE OF CONTENTS
   !!!!!===== 1.Fonts
   !!!!!===== 2.General Styling
   !!!!!===== 3.Header
   !!!!!===== 4.Main Page
                4.1.Hero Section
                4.2.Portfolio Section
   !!!!!===== 5.Single Project Page
                5.1.Single Project Hero
                5.2.Project Description
                5.3.Project Images
                5.4.Project Next
   !!!!!===== 6.About Page
                6.1.Simple Hero
                6.2.About Story Section
                6.3.About Team Section
                6.4.About Services Section
   !!!!!===== 7.News Page
   !!!!!===== 8.Single News Page
   !!!!!===== 9.Contact Page
   !!!!!===== 10. Footer
*/html{margin:0;scroll-behavior:smooth}body{background:#050505;color:#fff;font-family:Inter,sans-serif;font-size:16px;overflow-x:hidden!important}.container-fluid{padding:0 5vw}.container-fluid-small{padding:0 15vw}.big-title{font-size:2.5em;font-weight:300;letter-spacing:-.5px;color:#fff;line-height:1.6}.sub-title{letter-spacing:.5px;font-size:.9em}.sub-title,p{font-weight:300}p{font-size:1.1em;line-height:1.7;color:#b6b6b6}p.fade-p{font-size:.9em;color:#888}p.big-p{font-size:1.3em;line-height:1.8}ul{list-style:none;margin:0;padding:0}ul li{font-weight:300;line-height:2.4;letter-spacing:.2px;font-size:.9em;color:#fff}a{position:relative}a,a:after{transition:.25s cubic-bezier(.75,.25,.25,.75)}a:after{content:"";height:1px;width:100%;background:#285bd4;position:absolute;left:0;right:auto;bottom:-3px}a:hover{color:#fff!important;outline:0;text-decoration:none}a:hover,a:hover:after{transition:.25s cubic-bezier(.75,.25,.25,.75)}a:hover:after{width:0;right:0;left:auto}a.active,a:focus{outline:0;text-decoration:none}a.active{color:#fff!important}a.active,a.active:after{transition:.25s cubic-bezier(.75,.25,.25,.75)}a.active:after{width:100%;right:auto;left:0}.loading-overlay{position:fixed;top:0;right:0;width:100%;height:100%;background:#000;z-index:9999}.section-overlay{background:#050505;position:absolute;width:100%;height:100%;top:0;left:0;opacity:1}@keyframes color-animation{0%{background:red}25%{background:#ff0}50%{background:#00ff3b}to{background:#00f}}.colorful-bg{opacity:0;animation:color-animation 3s linear infinite alternate}.colorful-bg,.dark-bg{position:absolute;top:0;left:0;width:100%;height:100%}.dark-bg{background:rgba(0,0,0,.7)}.scroll-down{position:fixed;bottom:4vw;right:5vw;z-index:100;display:flex;justify-content:space-between;align-items:center;opacity:1}.scroll-down h5{font-size:.9em;font-weight:300;margin-right:15px;letter-spacing:.5px;margin-top:5px;color:#888;opacity:1;transition:.5s cubic-bezier(.75,.25,.25,.75)}.scroll-down a{position:absolute;top:0;left:0;width:100%;font-size:16px!important}.scroll-down a:after{display:none}.scroll-down .scroll-arrow{height:39px;width:39px;border:1px solid #222;border-radius:50%;transform:rotate(90deg);position:relative;padding:0;opacity:1;transition:transform .8s cubic-bezier(.75,.25,.25,.75),border .4s cubic-bezier(.75,.25,.25,.75),opacity .5s cubic-bezier(.75,.25,.25,.75)}.scroll-down .scroll-arrow .line{position:relative;right:-13px;top:1px;height:1px;width:11px;background:#656565;display:inline-block;transition:.4s cubic-bezier(.75,.25,.25,.75)}.scroll-down .scroll-arrow .line-1{width:9px;position:relative;right:-1px;transform:rotate(45deg);top:-2px}.scroll-down .scroll-arrow .line-2{width:9px;position:relative;right:-17px;transform:rotate(-45deg);top:-20px}.scroll-down.scroll-top .scroll-arrow,.scroll-down.scroll-top h5{opacity:0;transition:.4s cubic-bezier(.75,.25,.25,.75)}.scroll-down.scroll-top-active .scroll-arrow{opacity:1;transform:rotate(-90deg);transition:transform .8s cubic-bezier(.75,.25,.25,.75),border .4s cubic-bezier(.75,.25,.25,.75),opacity .5s cubic-bezier(.75,.25,.25,.75)}.scroll-down.scroll-top-active .scroll-arrow:hover{border:1px solid #285bd4;transition:transform .8s cubic-bezier(.75,.25,.25,.75),border .4s cubic-bezier(.75,.25,.25,.75)}.scroll-down.scroll-top-active .scroll-arrow:hover .line{background:#285bd4;transition:.4s cubic-bezier(.75,.25,.25,.75)}header{padding:4vw 0 0;position:absolute;top:0;left:0;width:100%;height:auto;z-index:999;background:transparent}header .header-left .logo a:after{display:none}header .header-left .logo span{font-weight:400;letter-spacing:1px;font-size:1.2em;color:#fff}header .header-right{display:flex;justify-content:flex-end;align-items:center;padding-bottom:6px}header .header-right .main-menu{list-style:none;margin:0;padding:0;text-align:right}header .header-right li{display:inline-block}header .header-right li a{color:#aaa;font-weight:400;margin-left:60px;font-size:1em;position:relative;transition:.25s cubic-bezier(.75,.25,.25,.75)}header .header-right li a:after{content:"";height:1px;width:0;background:#285bd4;position:absolute;left:auto;right:0;bottom:-3px;transition:.25s cubic-bezier(.75,.25,.25,.75)}header .header-right li a:hover{color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}header .header-right li a:hover:after{width:100%;left:0;right:auto;transition:.25s cubic-bezier(.75,.25,.25,.75)}header .header-right li.current_page_item a{color:#fff!important;outline:0;text-decoration:none;transition:.25s cubic-bezier(.75,.25,.25,.75)}header .header-right li.current_page_item a:after{width:100%;right:auto;left:0;transition:.25s cubic-bezier(.75,.25,.25,.75)}#heroSection{height:100vh;width:100%!important;display:flex;align-items:center;background:#0c0c0c;position:relative}#heroSection h6{color:#888;margin-bottom:40px}#heroSection h1{line-height:1.6;margin-bottom:0}#heroSection h1.big-title{font-size:3em}#heroSection span{text-transform:uppercase}#portfolioSection{padding:200px 0}#portfolioSection h2{margin-bottom:125px}#portfolioSection .portfolio-nav{margin-bottom:75px}#portfolioSection .portfolio-nav a{margin-right:35px;color:#aaa}#portfolioSection .portfolio-nav a:after{content:"";height:1px;width:0;background:#285bd4;position:absolute;left:auto;right:0;bottom:-3px;transition:.25s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-nav a:hover{color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-nav a:hover:after{width:100%;left:0;right:auto;transition:.25s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-nav a.active{color:#fff!important;outline:0;text-decoration:none;transition:.25s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-nav a.active:after{width:100%;right:auto;left:0;transition:.25s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row{margin:0 -35px}#portfolioSection .portfolio-row .portfolio-box{margin-bottom:70px;padding:0 35px;position:relative}#portfolioSection .portfolio-row .portfolio-box .cancel-anchor{width:100%;height:100%;top:0;left:0;position:absolute;z-index:999;display:none}#portfolioSection .portfolio-row .portfolio-box a{color:#fff}#portfolioSection .portfolio-row .portfolio-box .portfolio-image{opacity:1;transition:.4s cubic-bezier(.75,.25,.25,.75);overflow:hidden;position:relative;cursor:pointer}#portfolioSection .portfolio-row .portfolio-box .portfolio-image img{max-width:100%;max-height:100%;transform:scale(1);opacity:1;transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box .portfolio-image .dark-bg{position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,.7);opacity:0;z-index:100;transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box .portfolio-image .portfolio-text h3{font-weight:300;font-size:1.3em;position:absolute;top:30px;left:30px;z-index:101;opacity:0;transform:translateX(10px);will-change:transform;transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box .portfolio-image .portfolio-text h6{color:#aaa;font-weight:300;font-size:.8em;transform:translateX(10px);letter-spacing:.3px;position:absolute;left:30px;bottom:25px;z-index:101;opacity:0;will-change:transform;transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box .portfolio-image:hover img{transform:scale(1.1);transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box .portfolio-image:hover .dark-bg{opacity:1;transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box .portfolio-image:hover .portfolio-text h3,#portfolioSection .portfolio-row .portfolio-box .portfolio-image:hover .portfolio-text h6{opacity:1;transform:translateX(0);transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .cancel-anchor{display:block}#portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image{opacity:.15!important;transition:all .3s ease-in-out}#portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image:hover img{transform:scale(1);transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image:hover .dark-bg{opacity:0;transition:.4s cubic-bezier(.75,.25,.25,.75)}#portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image:hover .portfolio-text h3,#portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image:hover .portfolio-text h6{opacity:0;transform:translateX(0);transition:.4s cubic-bezier(.75,.25,.25,.75)}.single-project-hero{height:100vh!important;background:url(../images/single-project-hero.jpg)!important;background-size:cover!important;background-position:50%!important;position:relative}.single-project-hero .dark-bg{background:#000;opacity:.8}#projectDescription{padding:200px 0 150px}#projectDescription h5{color:#888;margin-bottom:25px}#projectDescription .project-desc{padding-top:10px}#projectDescription .project-desc p.big-p{padding-right:50px}#projectDescription .desc-bottom{margin-top:55px}#projectDescription .desc-bottom a{color:#aaa}#projectDescription .desc-bottom p{color:#888}#projectImages{padding:150px 0}#projectImages .row{margin:0 -50px}#projectImages .project-img-left{padding:0 50px}#projectImages .project-img-left img{max-width:100%;max-height:100%;margin-top:100px}#projectImages .project-img-right{padding:0 50px}#projectImages .project-img-right img{max-width:100%;max-height:100%;margin-bottom:100px}#projectNext{padding:150px 0}#projectNext .project-nav{text-align:center}#projectNext .project-nav h5{color:#888;margin-bottom:30px}#projectNext .project-nav h1 a{color:#aaa}.simple-hero{height:100vh!important;background:#0c0c0c!important}#aboutStory{padding:200px 0 150px}#aboutStory h2{margin-bottom:50px}#aboutStory .story-right{padding-top:10px}#aboutStory .story-bottom{margin-top:50px}#aboutStory a{color:#aaa}#aboutTeam{padding:150px 0}#aboutTeam .team-row{margin:0 -35px}#aboutTeam .team-row .team-title{padding:0 35px}#aboutTeam .team-row .team-box{padding:0 35px;margin-bottom:70px}#aboutTeam .team-row .team-box .team-box-title{display:flex;justify-content:space-between}#aboutTeam .team-row .team-box .team-box-title h3{font-size:1.3em;font-weight:300;color:#fff;margin-bottom:15px}#aboutTeam .team-row .team-box .team-box-title a{color:#fff;transition:all .1s ease-in-out!important}#aboutTeam .team-row .team-box .team-box-title a:after{display:none}#aboutTeam .team-row .team-box .team-box-title a:hover{color:#285bd4!important;transition:all .1s ease-in-out!important}#aboutTeam .team-row .team-box .team-box-title span{margin-left:12px;position:relative;bottom:10px;opacity:0;transition:all .3s ease-in-out!important}#aboutTeam .team-row .team-box h5{color:#888}#aboutTeam .team-row .team-box img{max-width:100%;max-height:100%;margin-bottom:30px}#aboutTeam .team-row .team-box:hover span{bottom:2px;opacity:1;transition:all .3s ease-in-out!important}#aboutServices{padding:80px 0 200px;position:relative}#aboutServices i{font-size:2em;color:#285bd4}#aboutServices h2{margin-bottom:30px}#aboutServices p{margin-bottom:50px}#aboutServices .services-right{padding-top:12px}#aboutServices .services-box{margin-top:15px;margin-bottom:60px}#aboutServices h5{color:#888;margin-bottom:20px;margin-top:20px;font-size:.9em}#aboutServices a{color:#aaa}#aboutServices ul li{line-height:2.2}#newsSection{padding:250px 0 100px}#newsSection .blog-post{margin-bottom:150px;cursor:pointer}#newsSection .blog-post .blog-date h5{color:#888;margin-top:37px;transition:.25s cubic-bezier(.75,.25,.25,.75)}#newsSection .blog-post .blog-title{display:flex;align-items:center}#newsSection .blog-post .blog-title h2{line-height:1.6;color:#888;padding-right:50px;transition:.25s cubic-bezier(.75,.25,.25,.75)}#newsSection .blog-post .blog-image img{opacity:0;max-width:100%;max-height:100%;position:relative;right:0;transition:.35s cubic-bezier(.75,.25,.25,.75)}#newsSection .blog-post a:after{display:none}#newsSection .blog-post.selected .blog-date h5{color:#aaa;transition:.25s cubic-bezier(.75,.25,.25,.75)}#newsSection .blog-post.selected .blog-title h2{color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}#newsSection .blog-post.selected .blog-image img{opacity:1;right:-10px;transition:.35s cubic-bezier(.75,.25,.25,.75)}.single-news-hero{height:100vh!important}.single-news-hero h6{color:#888;letter-spacing:0;font-weight:400;margin-bottom:50px!important}.single-news-hero h6 span{text-transform:none!important;margin-right:75px}.single-news-hero h6 a{color:#aaa;margin-right:25px;display:inline-block;margin-bottom:25px}.single-news-hero img{max-width:100%;max-height:100%}#singleNews{padding:200px 0}#singleNews img{max-width:100%;max-height:100%;margin-bottom:75px}#singleNews .wp-block-image img,#singleNews img{width:auto;height:auto;min-width:0}#singleNews .single-news-left h3{margin-bottom:35px}#singleNews .single-news-left .single-news-date{margin-bottom:40px;font-weight:300;letter-spacing:.5px;margin-right:75px}#singleNews .single-news-left blockquote{margin:35px 0;padding-left:50px;padding-bottom:3px;border-left:5px solid #222}#singleNews .single-news-left blockquote p{font-size:1.2em;color:#eee}#singleNews .single-news-left blockquote cite{font-size:.8em;color:#656565}#singleNews .single-news-left ul{margin:30px 0;padding-left:50px}#singleNews .single-news-left ul li:before{content:"";width:4px;height:4px;border-radius:50%;border:0;background:#454545;display:inline-block;position:relative;right:16px;bottom:4px}#singleNews .single-news-left .tags{margin-top:75px;display:flex;flex-wrap:wrap}#singleNews .single-news-left .tags a:after{content:none}#singleNews .single-news-left .tags a,#singleNews .single-news-left .tags span{display:block;border:1px solid #285bd4;padding:7px 10px;border-radius:25px;font-size:.7em;margin:0 10px 10px 0;color:#fff;cursor:pointer;transition:.25s cubic-bezier(.75,.25,.25,.75);white-space:nowrap}#singleNews .single-news-left .tags a:hover,#singleNews .single-news-left .tags span:hover{color:#fff;background:#285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}#singleNews .sidebar{padding-left:75px}#singleNews .sidebar .widget{margin-bottom:75px;border:1px solid #222;padding:40px}#singleNews .sidebar .widget h5{color:#888;margin-bottom:30px}#singleNews .sidebar .widget .recent-post{margin-bottom:30px}#singleNews .sidebar .widget .recent-post h4{font-weight:300;color:#fff;font-size:1em;line-height:1.6}#singleNews .sidebar .widget .recent-post .recent-date{font-size:.75em;color:#888}#singleNews .sidebar .widget .recent-post:last-child{margin-bottom:0}#singleNews .sidebar .widget ul li{line-height:1;margin-bottom:17px}#singleNews .sidebar .widget ul li:last-child{margin-bottom:10px}#singleNews .sidebar .widget ul li a{color:#aaa}#singleNews .sidebar .widget a{color:#aaa;margin-bottom:15px}#contactSection{padding:250px 0 200px}#contactSection .contact-left h2{margin-bottom:100px;line-height:1.6}#contactSection .contact-left h5{color:#888;margin-bottom:25px}#contactSection .contact-left ul{margin-bottom:100px}#contactSection .contact-left .footer-menu ul{list-style:none;margin:0;padding:0}#contactSection .contact-left .footer-menu ul li{display:inline-block;font-size:.85em;font-weight:400;margin-right:30px}#contactSection .contact-left .footer-menu ul li a{color:#aaa}#contactSection .contact-left .footer-menu ul li a:after{width:0;left:auto;right:0;transition:.25s cubic-bezier(.75,.25,.25,.75)}#contactSection .contact-left .footer-menu ul li a:hover{color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}#contactSection .contact-left .footer-menu ul li a:hover:after{width:100%;left:0;right:auto;transition:.25s cubic-bezier(.75,.25,.25,.75)}#contactSection .contact-left .copyright p{display:inline-block;font-size:.9em;font-weight:300;line-height:2;color:#b6b6b6;margin-bottom:25px}#contactSection .contact-right input{width:100%;background:transparent;border:0;border-bottom:1px solid #333;padding:0 0 10px;margin:20px 0;font-weight:300;font-size:1em;color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}#contactSection .contact-right input::placeholder{color:#888;font-weight:300}#contactSection .contact-right input:focus{outline:0;border-bottom:1px solid #285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}#contactSection .contact-right textarea{width:100%;background:transparent;border:0;border-bottom:1px solid #333;padding:0 0 10px;margin:20px 0;font-weight:300;min-height:145px;font-size:1em;color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}#contactSection .contact-right textarea::placeholder{color:#888;font-weight:300}#contactSection .contact-right textarea:focus{outline:0;border-bottom:1px solid #285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}#contactSection .contact-right input[type=submit]{padding:10px 20px;margin:30px 0 0;font-weight:300;font-size:.9em;color:#fff;text-align:left;transition:.25s cubic-bezier(.75,.25,.25,.75);position:relative;border:1px solid #285bd4;background:transparent;display:inline-block;width:auto}#contactSection .contact-right input[type=submit]:hover{background:#285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}#contactSection .contact-right input[type=submit]:focus{outline:0;text-decoration:none}#contactSection .contact-right #message .successPage{margin-top:15px}#contactSection .contact-right #message .successPage h1{font-weight:300!important}#footerSection{padding:200px 0;background:#0c0c0c;position:relative}#footerSection .footer-title{margin-bottom:125px}#footerSection .footer-title h2{line-height:1.6}#footerSection .footer-project{margin-bottom:125px;padding-bottom:23px;display:flex;align-items:flex-end}#footerSection .footer-project a{color:#aaa;font-weight:400}#footerSection .footer-project a:hover{color:#fff}#footerSection .contact-box h5,#footerSection .widget h5{color:#888;margin-bottom:25px}#footerSection .contact-box ul li,#footerSection .widget ul li{line-height:2.4}#footerSection .contact-box.proceed-box,#footerSection .widget.proceed-box{padding-right:60px}#footerSection .footer-menu ul{list-style:none;margin:0;padding:0}#footerSection .footer-menu ul li{display:inline-block;font-size:.85em;font-weight:400;margin-right:30px}#footerSection .footer-menu ul li a{color:#aaa}#footerSection .footer-menu ul li a:after{width:0;left:auto;right:0;transition:.25s cubic-bezier(.75,.25,.25,.75)}#footerSection .footer-menu ul li a:hover{color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}#footerSection .footer-menu ul li a:hover:after{width:100%;left:0;right:auto;transition:.25s cubic-bezier(.75,.25,.25,.75)}#footerSection .copyright p{display:inline-block;font-size:.9em;font-weight:300;line-height:2;color:#b6b6b6;margin-bottom:50px}#comments,#commentsSection{padding:200px 0 150px;background:#0c0c0c;position:relative}#comments .comments-form h2,#commentsSection .comments-form h2{margin-bottom:35px}#comments .comments-form p,#commentsSection .comments-form p{color:#878787;font-size:.9em}#comments .comments-form input,#commentsSection .comments-form input{width:100%;background:transparent;border:0;border-bottom:1px solid #333;padding:0 0 10px;margin:20px 0;font-weight:300;font-size:1em;color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}#comments .comments-form input::placeholder,#commentsSection .comments-form input::placeholder{color:#888;font-weight:300}#comments .comments-form input:focus,#commentsSection .comments-form input:focus{outline:0;border-bottom:1px solid #285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}#comments .comments-form input[type=checkbox],#commentsSection .comments-form input[type=checkbox]{color:#fff;width:auto;margin:auto 16px auto 0}#comments .comments-form textarea,#commentsSection .comments-form textarea{width:100%;background:transparent;border:0;border-bottom:1px solid #333;padding:0 0 10px;margin:20px 0;font-weight:300;min-height:100px;font-size:1em;color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}#comments .comments-form textarea::placeholder,#commentsSection .comments-form textarea::placeholder{color:#888;font-weight:300}#comments .comments-form textarea:focus,#commentsSection .comments-form textarea:focus{outline:0;border-bottom:1px solid #285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}#comments .comments-form input[type=submit],#commentsSection .comments-form input[type=submit]{padding:10px 20px;margin:30px 0 0;font-weight:300;font-size:.9em;color:#fff;text-align:left;transition:.25s cubic-bezier(.75,.25,.25,.75);position:relative;border:1px solid #285bd4;background:transparent;display:inline-block;width:auto}#comments .comments-form input[type=submit]:hover,#commentsSection .comments-form input[type=submit]:hover{background:#285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}#comments .comments-form input[type=submit]:focus,#commentsSection .comments-form input[type=submit]:focus{outline:0;text-decoration:none}#comments .comment-form-cookies-consent,#commentsSection .comment-form-cookies-consent{display:flex}#comments .comments-list,#commentsSection .comments-list{padding-left:50px}#comments .comments-list h2,#commentsSection .comments-list h2{margin-top:.5em;font-size:1.75em;margin-bottom:65px;padding-left:35px}#comments .comments-list .comment,#commentsSection .comments-list .comment{margin-bottom:50px}#comments .comments-list .comment img,#commentsSection .comments-list .comment img{border-radius:50%;width:32px;height:32px}#comments .comments-list .comment h3,#commentsSection .comments-list .comment h3{font-size:1em;font-weight:300;margin-bottom:15px;color:#888}#comments .comments-list .comment h3 a,#comments .comments-list .comment h3 span,#commentsSection .comments-list .comment h3 a,#commentsSection .comments-list .comment h3 span{color:#fff}#comments .comments-list .comment.reply,#commentsSection .comments-list .comment.reply{padding-left:50px}.simple-hero h1 input{background:transparent!important;border:0;border-bottom:1px solid #333;padding:0 0 10px;margin:20px 0;font-weight:300;color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}.simple-hero h1 input:focus{outline:0;border-bottom:1px solid #285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}.pagination{padding:0 15px 200px}.pagination ul{padding:0;margin:0;list-style:none;display:flex;justify-content:flex-start}.pagination ul li{font-size:.8em;border:1px solid #285bd4;border-radius:50%;width:35px;height:35px;display:flex;align-items:center;justify-content:center;margin-right:15px;transition:.25s cubic-bezier(.75,.25,.25,.75)}.pagination ul li.current{background:#285bd4}.pagination ul li:hover{background:#285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}.pagination .nav-links{padding:0;margin:0;list-style:none;display:flex;justify-content:flex-start}.pagination .nav-links a,.pagination .nav-links span{font-size:.8em;border:1px solid #285bd4;border-radius:50%;width:35px;height:35px;display:flex;align-items:center;justify-content:center;margin-right:15px;transition:.25s cubic-bezier(.75,.25,.25,.75);color:#fff}.pagination .nav-links a:after,.pagination .nav-links span:after{content:none}.pagination .nav-links a.current,.pagination .nav-links span.current{background:#285bd4}.pagination .nav-links a:hover,.pagination .nav-links span:hover{background:#285bd4;transition:.25s cubic-bezier(.75,.25,.25,.75)}.pagination .nav-links .page-numbers.dots,.pagination .nav-links .page-numbers.dots:hover{border:none;background:none}#newsSection{padding-bottom:50px}.page-404 h1 input{font-size:.8em}.page-404 h1.big-title{margin-bottom:50px!important}.page-404 a{color:#fff;margin-left:50px}.sticky .featured{padding:7px 8px 5px;background:#285bd4;color:#b0c5f4!important;display:inline-block;font-size:.65em!important;border-radius:5px;margin-top:20px!important}select{border:0;background:#151515;padding:10px;color:#fff}select:focus{outline:0}.recent-comment h4{color:#888!important}.recent-comment h4 a,.recent-comment h4 span{color:#fff!important}.rss-box p{font-size:.9em}.widget input{width:100%!important;background:transparent!important;border:0;border-bottom:1px solid #333;padding:0 0 10px;margin:20px 0;font-weight:300;font-size:1em;color:#fff;transition:.25s cubic-bezier(.75,.25,.25,.75)}.widget input::placeholder{color:#888;font-weight:300}.widget input:focus{outline:0;border-bottom:1px solid #285bd4}.widget .tags span,.widget input:focus{transition:.25s cubic-bezier(.75,.25,.25,.75)}.widget .tags span{display:inline-block;margin-bottom:10px;border:1px solid #285bd4;padding:7px 10px;border-radius:25px;font-size:.7em;margin-right:10px;color:#fff;cursor:pointer}.main-menu li{position:relative}.main-menu li ul{position:absolute;left:60px;top:65px;text-align:left;padding:15px 35px 20px 30px;background:#070707;border-radius:5px;opacity:0;visibility:hidden;transition:.25s cubic-bezier(.75,.25,.25,.75)}.main-menu li ul a,.main-menu li ul li{display:inline-block;color:#888}.main-menu li ul a{margin:0;white-space:nowrap}.main-menu li ul a:after{content:none}.main-menu .menu-item.menu-item-has-children:hover>ul{top:45px;opacity:1;visibility:visible;transition:.25s cubic-bezier(.75,.25,.25,.75)}#singleNews{padding-bottom:100px}#postNav{padding:100px 0 200px}#postNav a{color:#fff}#postNav .post-nav-center{text-align:center}#postNav .post-nav-right{text-align:right}#postNav .post-nav h1{font-size:1.75em}img{width:100%;height:auto}.entry-content img,.wp-block-image img{width:auto;height:auto;min-width:0}.posted-on a{color:#888}.gallery a:after,.posted-on a:after,.wp-block-button a:after,.wp-block-cover a:after,.wp-block-file__button:after,.wp-block-gallery a:after,.wp-block-image a:after,.wp-calendar-nav a:after,table a:after{content:none}a:has(*){background:red;border:4px solid #ff0}a:has(>*){background:red;border:4px solid #ff0}a:has(>img){background:red;border:4px solid #ff0}a:has(>img):after{content:none}.wp-block-rss__item-title{display:inline-block}.wp-block-gallery:after{display:block;clear:both;content:"";box-sizing:border-box}body.error404 .scroll-down{display:none}body.page-template-default .container-fluid-small .container-fluid-small{padding:0}.wpcf7 label{display:block}.wpcf7 input:not([tyype=submit]),.wpcf7 textarea{font-size:1rem!important}.wpcf7 input:not([tyype=submit]).wpcf7-not-valid,.wpcf7 textarea.wpcf7-not-valid{border-color:#dc3232!important}.wpcf7 input[type=submit]{font-size:.8em!important}.wpcf7 p{margin:0!important}.break-word{word-break:break-word}button,input,select,textarea{border-radius:0}#wpadminbar a:after{content:none}.widget_recent_entries li{margin-bottom:30px}.widget_recent_entries li a{font-weight:300;color:#fff!important;font-size:1.16em;line-height:1.6;margin-bottom:15px;display:block}.widget_recent_entries li a:after{content:none!important}.widget_recent_entries li .post-date{font-size:.75em;color:#888;margin-bottom:1rem}.widget_recent_entries li:last-child{margin-bottom:0}#newsSection .blog-post.selected .blog-title h2{min-height:3em}.comment-form .logged-in-as a{color:#aaa}body.error404 #heroSection h1.big-title,body.search #heroSection h1.big-title{max-width:none!important}body.search-no-results #heroSection h1.big-title{font-size:2em}body.elementorLayoutStrada .elementor-section.elementor-section-boxed>.elementor-container{max-width:100%!important;padding:0 10vw;box-sizing:border-box}.loading-overlay{left:0}.anim-bot{opacity:0;transform:translateY(25px);transition:opacity .5s,transform .5s}.anim-bot.showed{opacity:1;transform:translateY(0)}.anim-bot-big{opacity:0;transform:translateY(25px);transition:opacity 1s,transform 1s}.anim-bot-big.showed{opacity:1;transform:translateY(0)}.anim-right{opacity:0;transform:translateX(25px);transition:opacity 1s,transform 1s}.anim-right.showed{opacity:1;transform:translateY(0)}.site-header{opacity:0;transform:translateY(25px);transition:opacity .5s,transform .5s}.site-header.showed{opacity:1;transform:translateY(0)}#heroSection h1,#heroSection h6{opacity:0;transform:translateY(15px);transition:opacity .5s,transform .5s}#heroSection h1.showed,#heroSection h6.showed{opacity:1;transform:translateY(0)}.scroll-down{opacity:0;transform:translateY(15px);transition:opacity .5s,transform .5s}.scroll-down.showed{opacity:1;transform:translateY(0)}@media screen and (min-width:37.5em){.menu-toggle{display:none}.main-navigation ul{display:flex}}@media (max-width:1200px){.comment-list ol{padding-left:30px}.comment-list li{padding-left:15px}#projectDescription h2{margin-bottom:75px}#projectDescription .desc-bottom-after-2{order:4}#projectDescription .desc-bottom-after-1{order:3}#projectDescription .desc-bottom-before-2{margin-top:50px;margin-bottom:50px;order:2}#projectDescription .desc-bottom-before-1{margin-top:50px;margin-bottom:50px;order:1}#aboutStory .story-left{margin-bottom:75px}#singleNews .sidebar{padding-left:15px;margin-top:150px}#footerSection .footer-title{margin-bottom:35px}#footerSection .footer-project{margin-bottom:75px;padding-bottom:0}#footerSection .contact-box.contact-mail,#footerSection .widget.contact-mail{order:1}#footerSection .contact-box.contact-address,#footerSection .widget.contact-address{order:2}#footerSection .footer-offset{display:none}#footerSection .copyright{order:3;margin-top:75px}#comments,#commentsSection{padding:150px 0}#comments .comments-form,#commentsSection .comments-form{order:2}#comments .comments-list,#commentsSection .comments-list{padding-left:15px;order:1;margin-bottom:150px}#comments .comments-list h2,#commentsSection .comments-list h2{margin-bottom:50px;padding-left:15px}#comments .comments-list .comment,#commentsSection .comments-list .comment{margin-bottom:25px}.sticky .blog-date h5{margin-top:20px!important}}@media (min-width:2000px){body{font-size:20px}.container-fluid-small{padding:0 20vw}#portfolioSection,#projectDescription,#projectImages{padding:400px 0}#projectNext{padding:0 0 150px}#aboutStory{padding:400px 0}#aboutTeam{padding:400px 0 330px}#aboutServices{padding:400px 0 340px}#newsSection{padding:400px 0 250px}#newsSection .blog-post .blog-date h5{margin-top:55px}#contactSection{padding:400px 0 350px}#comments,#commentsSection,#footerSection{padding:400px 0}body.elementorLayoutStrada .elementor-section.elementor-section-boxed>.elementor-container{padding:0 20vw}}@media (max-width:480px){.container-fluid{padding:0 10vw}.big-title{line-height:2}header{padding:8vw 0 0}header .header-left{margin-bottom:15px}header .header-left .logo span{font-size:1em}header .header-right li a{font-size:.8em}#heroSection h1.big-title{font-size:1.5em;line-height:2}#aboutStory,#portfolioSection,#projectDescription,#projectImages,#projectNext{padding:100px 0}#aboutTeam{padding:100px 0 30px}#aboutServices{padding:100px 0 40px}#newsSection{padding:100px 0 50px}#newsSection .blog-post{margin-bottom:100px}#contactSection,#footerSection,#singleNews{padding:100px 0}#comments,#commentsSection{padding:100px 0 150px}#comments .comments-form h2,#commentsSection .comments-form h2{margin-bottom:35px}#comments .comments-list,#commentsSection .comments-list{margin-bottom:100px}#comments .comments-list h2,#commentsSection .comments-list h2{font-size:1.5em}#comments .comments-list .comment.reply,#commentsSection .comments-list .comment.reply{padding-left:25px}.main-menu li ul{padding:10px 30px 15px 25px}.main-menu li ul li{font-size:.7em}#postNav{padding:0 0 100px}#postNav .post-nav h1{font-size:1em!important}}@media (max-width:1600px){.container-fluid-small,body.elementorLayoutStrada .elementor-section.elementor-section-boxed>.elementor-container{padding:0 10vw}}@media (max-width:1400px){.big-title{font-size:2em}#heroSection h1.big-title{font-size:2.5em}#comments .comments-list,#commentsSection .comments-list{padding-left:0}.simple-hero h1 input{font-size:.75em}}@media (max-width:768px){.big-title{font-size:1.5em;padding-right:0}p{font-size:.9em}p.big-p{font-size:1.1em}.scroll-down{right:2vw}.scroll-down h5{margin-right:5px}header{padding:7vw 0 0}header .header-left{margin-bottom:20px}header .header-right{justify-content:flex-start}header .header-right li a{margin-left:0;margin-right:30px}#heroSection h6{margin-bottom:25px}#heroSection h1.big-title{font-size:2em;padding-right:0}#portfolioSection h2{line-height:1.6}#portfolioSection .portfolio-row .portfolio-box .portfolio-image .portfolio-text h3{font-size:1.1em}#projectDescription .desc-bottom{margin-top:10px;margin-bottom:0}#projectImages{padding:200px 0 100px}#projectImages .project-img-left img{margin-top:0;margin-bottom:100px}#aboutTeam .team-row .team-box .team-box-title h3{font-size:1em}#aboutServices{padding:200px 0 150px}.single-news-hero h6 span{display:block;margin-bottom:25px;margin-right:0}#footerSection .footer-project{margin-bottom:125px}#footerSection .contact-box,#footerSection .widget{margin-bottom:50px}.simple-hero h1 input{font-size:.6em;padding-right:0}.main-menu li ul{left:0}#postNav .post-nav h1{font-size:1.25em!important}body.elementorLayoutStrada .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{padding-left:0;padding-right:0}}@media (max-width:567px){a{font-size:.9em}.scroll-down .scroll-arrow{transform:rotate(90deg) scale(.7);border:1px solid #656565}.scroll-down.scroll-top .scroll-arrow{transform:scale(.7)}.scroll-down.scroll-top-active .scroll-arrow{transform:rotate(-90deg) scale(.7)}#portfolioSection h2,#projectDescription h2{margin-bottom:50px}#comments .comments-form,#commentsSection .comments-form{padding-right:0}#comments .comments-list .comment h3,#commentsSection .comments-list .comment h3{font-size:.9em}}@media (max-width:992px){.scroll-down h5{margin-right:10px}.scroll-down .scroll-arrow{transform:rotate(90deg) scale(.8)}.scroll-down.scroll-top .scroll-arrow{transform:scale(.8)}.scroll-down.scroll-top-active .scroll-arrow{transform:rotate(-90deg) scale(.8)}#projectDescription .desc-bottom-before-2{margin-top:0}#aboutServices .services-left{margin-bottom:75px}#newsSection .blog-post .blog-date{order:3}#newsSection .blog-post .blog-date h5{color:#aaa}#newsSection .blog-post .blog-title{order:2}#newsSection .blog-post .blog-title h2{color:#fff}#newsSection .blog-post .blog-image{order:1;margin-bottom:50px}#newsSection .blog-post .blog-image img{opacity:1!important;right:0!important}#contactSection .contact-left{margin-bottom:100px}#contactSection .contact-left h2{margin-bottom:50px}.sticky .blog-date h5{margin-top:37px!important}.sticky .sub-title{display:inline-block;margin-right:20px}}@media (min-width:992px){#heroSection h1.big-title{max-width:710px}}@media (max-width:576px){#contactSection .contact-left h5{margin-top:30px}#contactSection .contact-left ul{margin-bottom:30px}.sticky .featured{padding-top:5px}}@media (max-width:1199px){#contactSection .contact-left .copyright{margin-top:30px}}@media (max-width:1440px){#footerSection .footer-project{padding-bottom:25px}}@media (max-width:400px){#postNav .post-nav h1{font-size:.8em!important}}@media (min-width:1200px){#footerSection .row .widget:nth-child(3){-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}}