@charset "UTF-8";
/*
    - Strada - Creative Agency/Personal Template
    - © raduCio
    - First of all, we'd like to thank you for buying our product. We hope it'll be a problem solver for you. Cheers!
*/
/* 
   !!!!!===== TABLE OF CONTENTS
   !!!!!===== 1.Fonts
   !!!!!===== 2.General Styling
   !!!!!===== 3.Header
   !!!!!===== 4.Main Page
                4.1.Hero Section
                4.2.Portfolio Section
   !!!!!===== 5.Single Project Page
                5.1.Single Project Hero
                5.2.Project Description
                5.3.Project Images
                5.4.Project Next
   !!!!!===== 6.About Page
                6.1.Simple Hero
                6.2.About Story Section
                6.3.About Team Section
                6.4.About Services Section
   !!!!!===== 7.News Page
   !!!!!===== 8.Single News Page
   !!!!!===== 9.Contact Page
   !!!!!===== 10. Footer
*/
/* =====*****@@@@@ 1.Fonts @@@@@*****===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* =====*****@@@@@ 2.General Styling @@@@@*****===== */
html {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  background: #050505;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  overflow-x: hidden !important; }
  @media (min-width: 2000px) {
    body {
      font-size: 20px; } }

.container-fluid {
  padding: 0 5vw; }
  @media (max-width: 480px) {
    .container-fluid {
      padding: 0 10vw; } }

.container-fluid-small {
  padding: 0 15vw; }
  @media (max-width: 1600px) {
    .container-fluid-small {
      padding: 0 10vw; } }
  @media (min-width: 2000px) {
    .container-fluid-small {
      padding: 0 20vw; } }

.big-title {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: -.5px;
  color: #fff;
  line-height: 1.6; }
  @media (max-width: 1400px) {
    .big-title {
      font-size: 2em; } }
  @media (max-width: 768px) {
    .big-title {
      font-size: 1.5em;
      padding-right: 0px; } }
  @media (max-width: 480px) {
    .big-title {
      line-height: 2; } }

.sub-title {
  font-weight: 300;
  letter-spacing: .5px;
  font-size: .9em; }

p {
  font-size: 1.1em;
  line-height: 1.7;
  color: #b6b6b6;
  font-weight: 300; }
  @media (max-width: 768px) {
    p {
      font-size: .9em; } }
  p.fade-p {
    font-size: .9em;
    color: #888; }
  p.big-p {
    font-size: 1.3em;
    line-height: 1.8; }
    @media (max-width: 768px) {
      p.big-p {
        font-size: 1.1em; } }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: .2px;
    font-size: .9em;
    color: #fff; }

a {
  transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  position: relative; }
  @media (max-width: 567px) {
    a {
      font-size: .9em; } }
  a:after {
    content: "";
    height: 1px;
    width: 100%;
    background: #285BD4;
    position: absolute;
    left: 0;
    right: auto;
    bottom: -3px;
    transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  a:hover {
    color: #fff !important;
    outline: 0;
    text-decoration: none;
    transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    a:hover:after {
      width: 0%;
      right: 0;
      left: auto;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  a:focus {
    outline: 0;
    text-decoration: none; }
  a.active {
    color: #fff !important;
    outline: 0;
    text-decoration: none;
    transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    a.active:after {
      width: 100%;
      right: auto;
      left: 0;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }

.loading-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999; }

.section-overlay {
  background: #050505;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1; }

@keyframes color-animation {
  0% {
    background: #ff0000; }
  25% {
    background: #ffff00; }
  50% {
    background: #00ff3b; }
  100% {
    background: #0000ff; } }
.colorful-bg {
  position: absolute;
  opacity: .0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: color-animation 3s infinite linear alternate; }

.dark-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7); }

.scroll-down {
  position: fixed;
  bottom: 4vw;
  right: 5vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1; }
  @media (max-width: 768px) {
    .scroll-down {
      right: 2vw; } }
  .scroll-down h5 {
    font-size: .9em;
    font-weight: 300;
    margin-right: 15px;
    letter-spacing: .5px;
    margin-top: 5px;
    color: #888;
    opacity: 1;
    transition: 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    @media (max-width: 992px) {
      .scroll-down h5 {
        margin-right: 10px; } }
    @media (max-width: 768px) {
      .scroll-down h5 {
        margin-right: 5px; } }
  .scroll-down a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px !important; }
    .scroll-down a:after {
      display: none; }
  .scroll-down .scroll-arrow {
    height: 39px;
    width: 39px;
    border: 1px solid #222;
    border-radius: 50%;
    transform: rotate(90deg);
    position: relative;
    padding: 0;
    opacity: 1;
    transition: transform 0.8s cubic-bezier(0.75, 0.25, 0.25, 0.75), border 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75), opacity 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    @media (max-width: 992px) {
      .scroll-down .scroll-arrow {
        transform: rotate(90deg) scale(0.8); } }
    @media (max-width: 567px) {
      .scroll-down .scroll-arrow {
        transform: rotate(90deg) scale(0.7);
        border: 1px solid #656565; } }
    .scroll-down .scroll-arrow .line {
      position: relative;
      right: -13px;
      top: 1px;
      height: 1px;
      width: 11px;
      background: #656565;
      display: inline-block;
      transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    .scroll-down .scroll-arrow .line-1 {
      width: 9px;
      position: relative;
      right: -1px;
      transform: rotate(45deg);
      top: -2px; }
    .scroll-down .scroll-arrow .line-2 {
      width: 9px;
      position: relative;
      right: -17px;
      transform: rotate(-45deg);
      top: -20px; }
  .scroll-down.scroll-top h5 {
    opacity: 0;
    transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  .scroll-down.scroll-top .scroll-arrow {
    opacity: 0;
    transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    @media (max-width: 992px) {
      .scroll-down.scroll-top .scroll-arrow {
        transform: scale(0.8); } }
    @media (max-width: 567px) {
      .scroll-down.scroll-top .scroll-arrow {
        transform: scale(0.7); } }
  .scroll-down.scroll-top-active .scroll-arrow {
    opacity: 1;
    transform: rotate(-90deg);
    transition: transform 0.8s cubic-bezier(0.75, 0.25, 0.25, 0.75), border 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75), opacity 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    @media (max-width: 992px) {
      .scroll-down.scroll-top-active .scroll-arrow {
        transform: rotate(-90deg) scale(0.8); } }
    @media (max-width: 567px) {
      .scroll-down.scroll-top-active .scroll-arrow {
        transform: rotate(-90deg) scale(0.7); } }
    .scroll-down.scroll-top-active .scroll-arrow:hover {
      border: 1px solid #285BD4;
      transition: transform 0.8s cubic-bezier(0.75, 0.25, 0.25, 0.75), border 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
      .scroll-down.scroll-top-active .scroll-arrow:hover .line {
        background: #285BD4;
        transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }

/* =====*****@@@@@ 3.Header Section @@@@@*****===== */
header {
  padding: 4vw 0px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  background: transparent; }
  @media (max-width: 768px) {
    header {
      padding: 7vw 0 0 0; } }
  @media (max-width: 480px) {
    header {
      padding: 8vw 0 0 0; } }
  @media (max-width: 768px) {
    header .header-left {
      margin-bottom: 20px; } }
  @media (max-width: 480px) {
    header .header-left {
      margin-bottom: 15px; } }
  header .header-left .logo a:after {
    display: none; }
  header .header-left .logo span {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.2em;
    color: #fff; }
    @media (max-width: 480px) {
      header .header-left .logo span {
        font-size: 1em; } }
  header .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 6px; }
    @media (max-width: 768px) {
      header .header-right {
        justify-content: flex-start; } }
    header .header-right .main-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right; }
    header .header-right li {
      display: inline-block; }
      header .header-right li a {
        color: #aaa;
        font-weight: 400;
        margin-left: 60px;
        font-size: 1em;
        position: relative;
        transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        @media (max-width: 768px) {
          header .header-right li a {
            margin-left: 0px;
            margin-right: 30px; } }
        @media (max-width: 480px) {
          header .header-right li a {
            font-size: .8em; } }
        header .header-right li a:after {
          content: "";
          height: 1px;
          width: 0%;
          background: #285BD4;
          position: absolute;
          left: auto;
          right: 0;
          bottom: -3px;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        header .header-right li a:hover {
          color: #fff;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
          header .header-right li a:hover:after {
            width: 100%;
            left: 0;
            right: auto;
            transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        header .header-right li a.active {
          color: #fff !important;
          outline: 0;
          text-decoration: none;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
          header .header-right li a.active:after {
            width: 100%;
            right: auto;
            left: 0;
            transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }

/* =====*****@@@@@ 4.Main Page @@@@@*****===== */
/* ===== 4.1.Hero Section ===== */
#heroSection {
  height: 100vh;
  width: 100% !important;
  display: flex;
  align-items: center;
  background: #0c0c0c;
  position: relative; }
  #heroSection h6 {
    color: #888;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      #heroSection h6 {
        margin-bottom: 25px; } }
  #heroSection h1 {
    line-height: 1.6;
    margin-bottom: 0px; }
    #heroSection h1.big-title {
      font-size: 3em; }
      @media (max-width: 1400px) {
        #heroSection h1.big-title {
          font-size: 2.5em; } }
      @media (max-width: 768px) {
        #heroSection h1.big-title {
          font-size: 2em;
          padding-right: 0px; } }
      @media (max-width: 480px) {
        #heroSection h1.big-title {
          font-size: 1.5em;
          line-height: 2; } }
  #heroSection span {
    text-transform: uppercase; }

/* ===== 4.2.Portfolio Section ===== */
#portfolioSection {
  padding: 200px 0; }
  @media (max-width: 480px) {
    #portfolioSection {
      padding: 100px 0; } }
  @media (min-width: 2000px) {
    #portfolioSection {
      padding: 400px 0; } }
  #portfolioSection h2 {
    margin-bottom: 125px; }
    @media (max-width: 768px) {
      #portfolioSection h2 {
        line-height: 1.6; } }
    @media (max-width: 567px) {
      #portfolioSection h2 {
        margin-bottom: 50px; } }
  #portfolioSection .portfolio-nav {
    margin-bottom: 75px; }
    #portfolioSection .portfolio-nav a {
      margin-right: 35px;
      color: #aaa; }
      #portfolioSection .portfolio-nav a:after {
        content: "";
        height: 1px;
        width: 0%;
        background: #285BD4;
        position: absolute;
        left: auto;
        right: 0;
        bottom: -3px;
        transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
      #portfolioSection .portfolio-nav a:hover {
        color: #fff;
        transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-nav a:hover:after {
          width: 100%;
          left: 0;
          right: auto;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
      #portfolioSection .portfolio-nav a.active {
        color: #fff !important;
        outline: 0;
        text-decoration: none;
        transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-nav a.active:after {
          width: 100%;
          right: auto;
          left: 0;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  #portfolioSection .portfolio-row {
    margin: 0 -35px; }
    #portfolioSection .portfolio-row .portfolio-box {
      margin-bottom: 70px;
      padding: 0 35px;
      position: relative; }
      #portfolioSection .portfolio-row .portfolio-box .cancel-anchor {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 999;
        display: none; }
      #portfolioSection .portfolio-row .portfolio-box a {
        color: #fff; }
      #portfolioSection .portfolio-row .portfolio-box .portfolio-image {
        opacity: 1;
        transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75);
        overflow: hidden;
        position: relative;
        cursor: pointer; }
        #portfolioSection .portfolio-row .portfolio-box .portfolio-image img {
          max-width: 100%;
          max-height: 100%;
          transform: scale(1);
          opacity: 1;
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box .portfolio-image .dark-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(0, 0, 0, 0.7);
          opacity: 0;
          z-index: 100;
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box .portfolio-image .portfolio-text h3 {
          font-weight: 300;
          font-size: 1.3em;
          position: absolute;
          top: 30px;
          left: 30px;
          z-index: 101;
          opacity: 0;
          transform: translateX(10px);
          will-change: transform;
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
          @media (max-width: 768px) {
            #portfolioSection .portfolio-row .portfolio-box .portfolio-image .portfolio-text h3 {
              font-size: 1.1em; } }
        #portfolioSection .portfolio-row .portfolio-box .portfolio-image .portfolio-text h6 {
          color: #aaa;
          font-weight: 300;
          font-size: .8em;
          transform: translateX(10px);
          letter-spacing: .3px;
          position: absolute;
          left: 30px;
          bottom: 25px;
          z-index: 101;
          opacity: 0;
          will-change: transform;
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box .portfolio-image:hover img {
          transform: scale(1.1);
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box .portfolio-image:hover .dark-bg {
          opacity: 1;
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box .portfolio-image:hover .portfolio-text h3 {
          opacity: 1;
          transform: translateX(0px);
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box .portfolio-image:hover .portfolio-text h6 {
          opacity: 1;
          transform: translateX(0px);
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
      #portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .cancel-anchor {
        display: block; }
      #portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image {
        opacity: .15 !important;
        transition: all .3s ease-in-out; }
        #portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image:hover img {
          transform: scale(1);
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image:hover .dark-bg {
          opacity: 0;
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image:hover .portfolio-text h3 {
          opacity: 0;
          transform: translateX(0px);
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #portfolioSection .portfolio-row .portfolio-box.portfolio-hidden .portfolio-image:hover .portfolio-text h6 {
          opacity: 0;
          transform: translateX(0px);
          transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75); }

/* =====*****@@@@@ 5.Single Project Page @@@@@*****===== */
/* ===== 5.1.Single Project Hero ===== */
.single-project-hero {
  height: 100vh !important;
  background: url("../images/single-project-hero.jpg") !important;
  background-size: cover !important;
  background-position: 50% !important;
  position: relative; }
  .single-project-hero .dark-bg {
    background: #000;
    opacity: .8; }

/* ===== 5.2.Project Description ===== */
#projectDescription {
  padding: 200px 0px 150px; }
  @media (max-width: 480px) {
    #projectDescription {
      padding: 100px 0; } }
  @media (min-width: 2000px) {
    #projectDescription {
      padding: 400px 0; } }
  @media (max-width: 1200px) {
    #projectDescription h2 {
      margin-bottom: 75px; } }
  @media (max-width: 567px) {
    #projectDescription h2 {
      margin-bottom: 50px; } }
  #projectDescription h5 {
    color: #888;
    margin-bottom: 25px; }
  #projectDescription .project-desc {
    padding-top: 10px; }
    #projectDescription .project-desc p.big-p {
      padding-right: 50px; }
  #projectDescription .desc-bottom {
    margin-top: 55px; }
    @media (max-width: 768px) {
      #projectDescription .desc-bottom {
        margin-top: 10px;
        margin-bottom: 0px; } }
    #projectDescription .desc-bottom a {
      color: #aaa; }
    #projectDescription .desc-bottom p {
      color: #888; }
  @media (max-width: 1200px) {
    #projectDescription .desc-bottom-after-2 {
      order: 4; }
    #projectDescription .desc-bottom-after-1 {
      order: 3; }
    #projectDescription .desc-bottom-before-2 {
      margin-top: 50px;
      margin-bottom: 50px;
      order: 2; }
    #projectDescription .desc-bottom-before-1 {
      margin-top: 50px;
      margin-bottom: 50px;
      order: 1; } }
  @media (max-width: 992px) {
    #projectDescription .desc-bottom-before-2 {
      margin-top: 0px; } }

/* ===== 5.3.Project Images ===== */
#projectImages {
  padding: 150px 0px; }
  @media (max-width: 768px) {
    #projectImages {
      padding: 200px 0px 100px 0px; } }
  @media (max-width: 480px) {
    #projectImages {
      padding: 100px 0; } }
  @media (min-width: 2000px) {
    #projectImages {
      padding: 400px 0px; } }
  #projectImages .row {
    margin: 0 -50px; }
  #projectImages .project-img-left {
    padding: 0 50px; }
    #projectImages .project-img-left img {
      max-width: 100%;
      max-height: 100%;
      margin-top: 100px; }
      @media (max-width: 768px) {
        #projectImages .project-img-left img {
          margin-top: 0px;
          margin-bottom: 100px; } }
  #projectImages .project-img-right {
    padding: 0 50px; }
    #projectImages .project-img-right img {
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 100px; }

/* ===== 5.4.Project Next ===== */
#projectNext {
  padding: 150px 0px 150px 0px; }
  @media (max-width: 480px) {
    #projectNext {
      padding: 100px 0; } }
  @media (min-width: 2000px) {
    #projectNext {
      padding: 0px 0px 150px 0px; } }
  #projectNext .project-nav {
    text-align: center; }
    #projectNext .project-nav h5 {
      color: #888;
      margin-bottom: 30px; }
    #projectNext .project-nav h1 a {
      color: #aaa; }

/* =====*****@@@@@ 6.About Page @@@@@*****===== */
/* ===== 6.1.Simple Hero ===== */
.simple-hero {
  height: 100vh !important;
  background: #0c0c0c !important; }

/* ===== 6.2.About Story Section ===== */
#aboutStory {
  padding: 200px 0px 150px 0px; }
  @media (max-width: 480px) {
    #aboutStory {
      padding: 100px 0; } }
  @media (min-width: 2000px) {
    #aboutStory {
      padding: 400px 0px; } }
  #aboutStory h2 {
    margin-bottom: 50px; }
  @media (max-width: 1200px) {
    #aboutStory .story-left {
      margin-bottom: 75px; } }
  #aboutStory .story-right {
    padding-top: 10px; }
  #aboutStory .story-bottom {
    margin-top: 50px; }
  #aboutStory a {
    color: #aaa; }

/* ===== 6.3.About Team Section ===== */
#aboutTeam {
  padding: 150px 0px; }
  @media (max-width: 480px) {
    #aboutTeam {
      padding: 100px 0 30px 0px; } }
  @media (min-width: 2000px) {
    #aboutTeam {
      padding: 400px 0px 330px 0px; } }
  #aboutTeam .team-row {
    margin: 0 -35px; }
    #aboutTeam .team-row .team-title {
      padding: 0 35px; }
    #aboutTeam .team-row .team-box {
      padding: 0px 35px;
      margin-bottom: 70px; }
      #aboutTeam .team-row .team-box .team-box-title {
        display: flex;
        justify-content: space-between; }
        #aboutTeam .team-row .team-box .team-box-title h3 {
          font-size: 1.3em;
          font-weight: 300;
          color: #fff;
          margin-bottom: 15px; }
          @media (max-width: 768px) {
            #aboutTeam .team-row .team-box .team-box-title h3 {
              font-size: 1em; } }
        #aboutTeam .team-row .team-box .team-box-title a {
          color: #fff;
          transition: all .1s ease-in-out !important; }
          #aboutTeam .team-row .team-box .team-box-title a:after {
            display: none; }
          #aboutTeam .team-row .team-box .team-box-title a:hover {
            color: #285BD4 !important;
            transition: all .1s ease-in-out !important; }
        #aboutTeam .team-row .team-box .team-box-title span {
          margin-left: 12px;
          position: relative;
          bottom: 10px;
          opacity: 0;
          transition: all .3s ease-in-out !important; }
      #aboutTeam .team-row .team-box h5 {
        color: #888; }
      #aboutTeam .team-row .team-box img {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 30px; }
      #aboutTeam .team-row .team-box:hover span {
        bottom: 2px;
        opacity: 1;
        transition: all .3s ease-in-out !important; }

/* ===== 6.4.About Services Section ===== */
#aboutServices {
  padding: 80px 0px 200px;
  position: relative; }
  @media (max-width: 768px) {
    #aboutServices {
      padding: 200px 0px 150px 0; } }
  @media (max-width: 480px) {
    #aboutServices {
      padding: 100px 0 40px 0; } }
  @media (min-width: 2000px) {
    #aboutServices {
      padding: 400px 0px 340px 0px; } }
  #aboutServices i {
    font-size: 2em;
    color: #285BD4; }
  #aboutServices h2 {
    margin-bottom: 30px; }
  #aboutServices p {
    margin-bottom: 50px; }
  @media (max-width: 992px) {
    #aboutServices .services-left {
      margin-bottom: 75px; } }
  #aboutServices .services-right {
    padding-top: 12px; }
  #aboutServices .services-box {
    margin-top: 15px;
    margin-bottom: 60px; }
  #aboutServices h5 {
    color: #888;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: .9em; }
  #aboutServices a {
    color: #aaa; }
  #aboutServices ul li {
    line-height: 2.2; }

/* =====*****@@@@@ 7.News Page @@@@@*****===== */
#newsSection {
  padding: 250px 0 100px 0; }
  @media (max-width: 480px) {
    #newsSection {
      padding: 100px 0 50px 0px; } }
  @media (min-width: 2000px) {
    #newsSection {
      padding: 400px 0px 250px 0px; } }
  #newsSection .blog-post {
    margin-bottom: 150px;
    cursor: pointer; }
    @media (max-width: 480px) {
      #newsSection .blog-post {
        margin-bottom: 100px; } }
    @media (max-width: 992px) {
      #newsSection .blog-post .blog-date {
        order: 3; } }
    #newsSection .blog-post .blog-date h5 {
      color: #888;
      margin-top: 37px;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
      @media (max-width: 992px) {
        #newsSection .blog-post .blog-date h5 {
          color: #aaa; } }
      @media (min-width: 2000px) {
        #newsSection .blog-post .blog-date h5 {
          margin-top: 55px; } }
    #newsSection .blog-post .blog-title {
      display: flex;
      align-items: center; }
      @media (max-width: 992px) {
        #newsSection .blog-post .blog-title {
          order: 2; } }
      #newsSection .blog-post .blog-title h2 {
        line-height: 1.6;
        padding-right: 25px;
        color: #888;
        padding-right: 50px;
        transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        @media (max-width: 992px) {
          #newsSection .blog-post .blog-title h2 {
            color: #fff; } }
    @media (max-width: 992px) {
      #newsSection .blog-post .blog-image {
        order: 1;
        margin-bottom: 50px; } }
    #newsSection .blog-post .blog-image img {
      opacity: 0;
      max-width: 100%;
      max-height: 100%;
      position: relative;
      right: 0px;
      transition: 0.35s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
      @media (max-width: 992px) {
        #newsSection .blog-post .blog-image img {
          opacity: 1 !important;
          right: 0px !important; } }
    #newsSection .blog-post a:after {
      display: none; }
    #newsSection .blog-post.selected .blog-date h5 {
      color: #aaa;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    #newsSection .blog-post.selected .blog-title h2 {
      color: #fff;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    #newsSection .blog-post.selected .blog-image img {
      opacity: 1;
      right: -10px;
      transition: 0.35s cubic-bezier(0.75, 0.25, 0.25, 0.75); }

/* =====*****@@@@@ 8.Single News Page @@@@@*****===== */
.single-news-hero {
  height: 100vh !important; }
  .single-news-hero h6 {
    color: #888;
    letter-spacing: 0px;
    font-weight: 400;
    margin-bottom: 50px !important; }
    .single-news-hero h6 span {
      text-transform: none !important;
      margin-right: 75px; }
      @media (max-width: 768px) {
        .single-news-hero h6 span {
          display: block;
          margin-bottom: 25px;
          margin-right: 0px; } }
    .single-news-hero h6 a {
      color: #aaa;
      margin-right: 25px; }
  .single-news-hero img {
    max-width: 100%;
    max-height: 100%; }

#singleNews {
  padding: 200px 0px; }
  @media (max-width: 480px) {
    #singleNews {
      padding: 100px 0; } }
  #singleNews img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 75px; }
  #singleNews .single-news-left h3 {
    margin-bottom: 35px; }
  #singleNews .single-news-left .single-news-date {
    margin-bottom: 40px;
    font-weight: 300;
    letter-spacing: .5px;
    margin-right: 75px; }
  #singleNews .single-news-left blockquote {
    margin: 35px 0px;
    padding-left: 50px;
    padding-bottom: 3px;
    border-left: 5px solid #222; }
    #singleNews .single-news-left blockquote p {
      font-size: 1.2em;
      color: #eee; }
    #singleNews .single-news-left blockquote cite {
      font-size: .8em;
      color: #656565; }
  #singleNews .single-news-left ul {
    margin: 30px 0px;
    padding-left: 50px; }
    #singleNews .single-news-left ul li:before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      border: 0;
      background: #454545;
      display: inline-block;
      position: relative;
      right: 16px;
      bottom: 4px; }
  #singleNews .single-news-left .tags {
    margin-top: 75px; }
    #singleNews .single-news-left .tags a:after {
      content: none;
    }
    #singleNews .single-news-left .tags span,
    #singleNews .single-news-left .tags a {
      border: 1px solid #285BD4;
      padding: 7px 10px;
      border-radius: 25px;
      font-size: .7em;
      margin-right: 10px;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75);}
      #singleNews .single-news-left .tags span:hover,
      #singleNews .single-news-left .tags a:hover {
        color: #fff;
        background: #285BD4;
        transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  #singleNews .sidebar {
    padding-left: 75px; }
    @media (max-width: 1200px) {
      #singleNews .sidebar {
        padding-left: 15px;
        margin-top: 150px; } }
    #singleNews .sidebar .widget {
      margin-bottom: 75px;
      border: 1px solid #222;
      padding: 40px; }
      #singleNews .sidebar .widget h5 {
        color: #888;
        margin-bottom: 30px; }
      #singleNews .sidebar .widget .recent-post {
        margin-bottom: 30px; }
        #singleNews .sidebar .widget .recent-post h4 {
          font-weight: 300;
          color: #fff;
          font-size: 1em;
          line-height: 1.6; }
        #singleNews .sidebar .widget .recent-post .recent-date {
          font-size: .75em;
          color: #888; }
        #singleNews .sidebar .widget .recent-post:last-child {
          margin-bottom: 0px; }
      #singleNews .sidebar .widget ul li {
        line-height: 1;
        margin-bottom: 17px; }
        #singleNews .sidebar .widget ul li:last-child {
          margin-bottom: 10px; }
        #singleNews .sidebar .widget ul li a {
          color: #aaa; }
      #singleNews .sidebar .widget a {
        color: #aaa;
        margin-bottom: 15px; }

/* =====*****@@@@@ 9.Contact Page @@@@@*****===== */
#contactSection {
  padding: 250px 0px 200px 0px; }
  @media (max-width: 480px) {
    #contactSection {
      padding: 100px 0; } }
  @media (min-width: 2000px) {
    #contactSection {
      padding: 400px 0px 350px 0px; } }
  @media (max-width: 992px) {
    #contactSection .contact-left {
      margin-bottom: 100px; } }
  #contactSection .contact-left h2 {
    margin-bottom: 100px;
    line-height: 1.6; }
    @media (max-width: 992px) {
      #contactSection .contact-left h2 {
        margin-bottom: 50px; } }
  #contactSection .contact-left h5 {
    color: #888;
    margin-bottom: 25px; }
    @media (max-width: 576px) {
      #contactSection .contact-left h5 {
        margin-top: 30px; } }
  #contactSection .contact-left ul {
    margin-bottom: 100px; }
    @media (max-width: 576px) {
      #contactSection .contact-left ul {
        margin-bottom: 30px; } }
  #contactSection .contact-left .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #contactSection .contact-left .footer-menu ul li {
      display: inline-block;
      font-size: .85em;
      font-weight: 400;
      margin-right: 30px; }
      #contactSection .contact-left .footer-menu ul li a {
        color: #aaa; }
        #contactSection .contact-left .footer-menu ul li a:after {
          width: 0;
          left: auto;
          right: 0;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #contactSection .contact-left .footer-menu ul li a:hover {
          color: #fff;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
          #contactSection .contact-left .footer-menu ul li a:hover:after {
            width: 100%;
            left: 0;
            right: auto;
            transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  @media (max-width: 1199px) {
    #contactSection .contact-left .copyright {
      margin-top: 30px; } }
  #contactSection .contact-left .copyright p {
    display: inline-block;
    font-size: .9em;
    font-weight: 300;
    line-height: 2;
    color: #b6b6b6;
    margin-bottom: 25px; }
  #contactSection .contact-right input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #333;
    padding: 0 0 10px 0;
    margin: 20px 0px 20px 0px;
    font-weight: 300;
    font-size: 1em;
    color: #fff;
    transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    #contactSection .contact-right input::placeholder {
      color: #888;
      font-weight: 300; }
    #contactSection .contact-right input:focus {
      outline: 0;
      border-bottom: 1px solid #285BD4;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  #contactSection .contact-right textarea {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #333;
    padding: 0 0 10px 0;
    margin: 20px 0px 20px 0px;
    font-weight: 300;
    min-height: 145px;
    font-size: 1em;
    color: #fff;
    transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    #contactSection .contact-right textarea::placeholder {
      color: #888;
      font-weight: 300; }
    #contactSection .contact-right textarea:focus {
      outline: 0;
      border-bottom: 1px solid #285BD4;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  #contactSection .contact-right input[type=submit] {
    padding: 10px 20px;
    margin: 30px 0 0 0;
    border: 0;
    font-weight: 300;
    font-size: .9em;
    color: #fff;
    text-align: left;
    transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75);
    position: relative;
    border: 1px solid #285BD4;
    background: transparent;
    display: inline-block;
    width: auto; }
    #contactSection .contact-right input[type=submit]:hover {
      background: #285BD4;
      transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
    #contactSection .contact-right input[type=submit]:focus {
      outline: 0;
      text-decoration: none; }
  #contactSection .contact-right #message .successPage {
    margin-top: 15px; }
    #contactSection .contact-right #message .successPage h1 {
      font-weight: 300 !important; }

/* =====*****@@@@@ 10.Footer @@@@@*****===== */
#footerSection {
  padding: 200px 0px;
  background: #0c0c0c;
  position: relative; }
  @media (max-width: 480px) {
    #footerSection {
      padding: 100px 0; } }
  @media (min-width: 2000px) {
    #footerSection {
      padding: 400px 0px; } }
  #footerSection .footer-title {
    margin-bottom: 125px; }
    @media (max-width: 1200px) {
      #footerSection .footer-title {
        margin-bottom: 35px; } }
    #footerSection .footer-title h2 {
      line-height: 1.6; }
  #footerSection .footer-project {
    margin-bottom: 125px;
    padding-bottom: 23px;
    display: flex;
    align-items: flex-end; }
    @media (max-width: 1440px) {
      #footerSection .footer-project {
        padding-bottom: 25px; } }
    @media (max-width: 1200px) {
      #footerSection .footer-project {
        margin-bottom: 75px;
        padding-bottom: 0px; } }
    @media (max-width: 768px) {
      #footerSection .footer-project {
        margin-bottom: 125px; } }
    #footerSection .footer-project a {
      color: #aaa;
      font-weight: 400; }
      #footerSection .footer-project a:hover {
        color: #fff; }
  @media (max-width: 768px) {
    #footerSection .contact-box {
      margin-bottom: 50px; } }
  #footerSection .contact-box h5 {
    color: #888;
    margin-bottom: 25px; }
  #footerSection .contact-box ul li {
    line-height: 2.4; }
  #footerSection .contact-box.proceed-box {
    padding-right: 60px; }
  @media (max-width: 1200px) {
    #footerSection .contact-box.contact-mail {
      order: 1; } }
  @media (max-width: 1200px) {
    #footerSection .contact-box.contact-address {
      order: 2; } }
  #footerSection .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #footerSection .footer-menu ul li {
      display: inline-block;
      font-size: .85em;
      font-weight: 400;
      margin-right: 30px; }
      #footerSection .footer-menu ul li a {
        color: #aaa; }
        #footerSection .footer-menu ul li a:after {
          width: 0;
          left: auto;
          right: 0;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
        #footerSection .footer-menu ul li a:hover {
          color: #fff;
          transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
          #footerSection .footer-menu ul li a:hover:after {
            width: 100%;
            left: 0;
            right: auto;
            transition: 0.25s cubic-bezier(0.75, 0.25, 0.25, 0.75); }
  @media (max-width: 1200px) {
    #footerSection .footer-offset {
      display: none; } }
  @media (max-width: 1200px) {
    #footerSection .copyright {
      order: 3;
      margin-top: 75px; } }
  #footerSection .copyright p {
    display: inline-block;
    font-size: .9em;
    font-weight: 300;
    line-height: 2;
    color: #b6b6b6;
    margin-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
