

/* 
   !!!!!===== TABLE OF CONTENTS
   !!!!!===== 1.Fonts
   !!!!!===== 2.General Styling
   !!!!!===== 3.Header
   !!!!!===== 4.Main Page
                4.1.Hero Section
                4.2.Portfolio Section
   !!!!!===== 5.Single Project Page
                5.1.Single Project Hero
                5.2.Project Description
                5.3.Project Images
                5.4.Project Next
   !!!!!===== 6.About Page
                6.1.Simple Hero
                6.2.About Story Section
                6.3.About Team Section
                6.4.About Services Section
   !!!!!===== 7.News Page
   !!!!!===== 8.Single News Page
   !!!!!===== 9.Contact Page
   !!!!!===== 10. Footer
*/

/* =====*****@@@@@ 1.Fonts @@@@@*****===== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* =====*****@@@@@ 2.General Styling @@@@@*****===== */
html{
    margin: 0;
    //overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #050505;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    overflow-x: hidden !important;
    @media (min-width: 2000px){
        font-size: 20px;
    }
}

.container-fluid{
    padding: 0 5vw;
    @media (max-width: 480px){
        padding: 0 10vw;
    }
}

.container-fluid-small{
    padding: 0 15vw;
    @media (max-width: 1600px){
        padding: 0 10vw;
    }
    @media (min-width: 2000px){
        padding: 0 20vw;
    }
}

.big-title{
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: -.5px;
    color: #fff;
    line-height: 1.6;
    @media(max-width: 1400px){
        font-size: 2em;
    }
    @media (max-width: 768px){
        font-size: 1.5em;
        padding-right: 0px;
    }
    @media (max-width: 480px){
        line-height: 2;
    }
}

.sub-title{
    font-weight: 300;
    letter-spacing: .5px;
    font-size: .9em;
}

p{
    font-size: 1.1em;
    line-height: 1.7;
    color: #b6b6b6;
    font-weight: 300;
    @media (max-width: 768px){
        font-size: .9em;
    }

    &.fade-p{
        font-size: .9em;
        color: #888;
    }

    &.big-p{
        font-size: 1.3em;
        line-height: 1.8;

        @media (max-width: 768px){
            font-size: 1.1em;
        }
    }
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
    li{
        font-weight: 300;
        line-height: 2.4;
        letter-spacing: .2px;
        font-size: .9em;
        color: #fff;
    }
}

a{
    transition: .25s cubic-bezier(.75,.25,.25,.75);
    position: relative;
    @media (max-width: 567px){
        font-size: .9em;
    }

    &:after{
        content: "";
        height: 1px;
        width: 100%;
        background: #285BD4;
        position: absolute;
        left: 0;
        right: auto;
        bottom: -3px;
        transition: .25s cubic-bezier(.75,.25,.25,.75);
    }

    &:hover{
        color: #fff !important;
        outline: 0;
        text-decoration: none;
        transition: .25s cubic-bezier(.75,.25,.25,.75);

        &:after{
            width: 0%;
            right: 0;
            left: auto;
            transition: .25s cubic-bezier(.75,.25,.25,.75);
        }
    }

    &:focus{
        outline: 0;
        text-decoration: none;
    }

    &.active{
        color: #fff !important;
        outline: 0;
        text-decoration: none;
        transition: .25s cubic-bezier(.75,.25,.25,.75);

        &:after{
            width: 100%;
            right: auto;
            left: 0;
            transition: .25s cubic-bezier(.75,.25,.25,.75);
        }
    }
}

.loading-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
}

.section-overlay{
    background: #050505;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

@keyframes color-animation {
    0% {
       background: #ff0000;
    }
    25% {
        background: #ffff00;
    }
    50% {
       background: #00ff3b;
    } 
    100% {
       background: #0000ff;
    } 
}

.colorful-bg {
    position: absolute;
    opacity: .0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: color-animation 3s infinite linear alternate;
}

.dark-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
}

.scroll-down{
    position: fixed;
    bottom: 4vw;
    right: 5vw;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    @media(max-width: 768px){
        right: 2vw;
    }

    h5{
        font-size: .9em;
        font-weight: 300;
        margin-right: 15px;
        letter-spacing: .5px;
        margin-top: 5px;
        color: #888;
        opacity: 1;
        transition: .5s cubic-bezier(.75,.25,.25,.75);
        @media (max-width: 992px){
            margin-right: 10px;
        }
        @media (max-width: 768px){
            margin-right: 5px;
        }
    }

    a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 16px !important;

        &:after{
            display: none;
        }
    }

    .scroll-arrow{
        height: 39px;
        width: 39px;
        border: 1px solid #222;
        border-radius: 50%;
        transform: rotate(90deg);
        position: relative;
        padding: 0;
        opacity: 1;
        transition: transform .8s cubic-bezier(.75,.25,.25,.75), border .4s cubic-bezier(.75,.25,.25,.75), opacity .5s cubic-bezier(.75,.25,.25,.75);
        @media (max-width:992px){
            transform: rotate(90deg) scale(.8);
        }
        @media (max-width:567px){
            transform: rotate(90deg) scale(.7);
            border: 1px solid #656565;
        }

        .line{
            position: relative;
            right: -13px;
            top: 1px;
            height: 1px;
            width: 11px;
            background: #656565;
            display: inline-block;
            transition: 0.4s cubic-bezier(0.75, 0.25, 0.25, 0.75);
        }

        .line-1{
            width: 9px;
            position: relative;
            right: -1px;
            transform: rotate(45deg);
            top: -2px;
        }

        .line-2{
            width: 9px;
            position: relative;
            right: -17px;
            transform: rotate(-45deg);
            top: -20px;
        }
    }

    &.scroll-top{
        h5{
            opacity: 0;
            transition: .4s cubic-bezier(.75,.25,.25,.75);
        }

        .scroll-arrow{
            opacity: 0;
            transition: .4s cubic-bezier(.75,.25,.25,.75);
            @media (max-width:992px){
                transform: scale(.8);
            }
            @media (max-width:567px){
                transform: scale(.7);
            }
        }
    }

    &.scroll-top-active{
        .scroll-arrow{
            opacity: 1;
            transform: rotate(-90deg);
            transition: transform .8s cubic-bezier(.75,.25,.25,.75), border .4s cubic-bezier(.75,.25,.25,.75), opacity .5s cubic-bezier(.75,.25,.25,.75);
            @media (max-width:992px){
                transform: rotate(-90deg) scale(.8);
            }
            @media (max-width:567px){
                transform: rotate(-90deg) scale(.7);
            }
            
            &:hover{
                border: 1px solid #285BD4;
                transition: transform .8s cubic-bezier(.75,.25,.25,.75), border .4s cubic-bezier(.75,.25,.25,.75);

                .line{
                    background: #285BD4;
                    transition: .4s cubic-bezier(.75,.25,.25,.75);
                }
            }
        }
    }
}



/* =====*****@@@@@ 3.Header Section @@@@@*****===== */
header{
    padding: 4vw 0px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    background: transparent;
    @media (max-width: 768px){
        padding: 7vw 0 0 0;
    }
    @media (max-width: 480px){
        padding: 8vw 0 0 0;
    }

    .header-left{
        @media (max-width: 768px){
            margin-bottom: 20px;
        }
        @media (max-width: 480px){
            margin-bottom: 15px;
        }
        .logo{
            a{
                &:after{
                    display: none;
                }
            }
            span{
                font-weight: 400;
                letter-spacing: 1px;
                font-size: 1.2em;
                color: #fff;
                @media (max-width: 480px){
                    font-size: 1em;
                }
            }
        }
    }

    .header-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 6px;
        @media (max-width: 768px){
            justify-content: flex-start;
        }

        .main-menu{
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
        }

        li{
            display: inline-block;

            a{
                color: #aaa;
                font-weight: 400;
                margin-left: 60px;
                font-size: 1em;
                position: relative;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
                @media (max-width: 768px){
                    margin-left: 0px;
                    margin-right: 30px;
                }
                @media (max-width: 480px){
                    font-size: .8em;
                }

                &:after{
                    content: "";
                    height: 1px;
                    width: 0%;
                    background: #285BD4;
                    position: absolute;
                    left: auto;
                    right: 0;
                    bottom: -3px;
                    transition: .25s cubic-bezier(.75,.25,.25,.75);
                }

                &:hover{
                    color: #fff;
                    transition: .25s cubic-bezier(.75,.25,.25,.75);

                    &:after{
                        width: 100%;
                        left: 0;
                        right: auto;
                        transition: .25s cubic-bezier(.75,.25,.25,.75);
                    }
                }

                &.active{
                    color: #fff !important;
                    outline: 0;
                    text-decoration: none;
                    transition: .25s cubic-bezier(.75,.25,.25,.75);
            
                    &:after{
                        width: 100%;
                        right: auto;
                        left: 0;
                        transition: .25s cubic-bezier(.75,.25,.25,.75);
                    }
                }
            }
        }
    }
}



/* =====*****@@@@@ 4.Main Page @@@@@*****===== */

/* ===== 4.1.Hero Section ===== */
#heroSection{
    height: 100vh;
    width: 100% !important;
    display: flex;
    align-items: center;
    background: #0c0c0c;
    position: relative;

    h6{
        color: #888;
        margin-bottom: 40px;
        @media (max-width: 768px){
            margin-bottom: 25px;
        }
    }

    h1{
        line-height: 1.6;
        margin-bottom: 0px;

        &.big-title{
            font-size: 3em;
            @media(max-width: 1400px){
                font-size: 2.5em;
            }
            @media (max-width: 768px){
                font-size: 2em;
                padding-right: 0px;
            }
            @media (max-width: 480px){
                font-size: 1.5em;
                line-height: 2;
            }
        }
    }

    span{
        text-transform: uppercase;
    }
}

/* ===== 4.2.Portfolio Section ===== */
#portfolioSection{
    padding: 200px 0;
    @media (max-width: 480px){
        padding: 100px 0;
    }
    @media (min-width: 2000px){
        padding: 400px 0;
    }

    h2{
        margin-bottom: 125px;
        @media (max-width: 768px){
            line-height: 1.6;
        }
        @media (max-width: 567px){
            margin-bottom: 50px;
        }
    }

    .portfolio-nav{
        margin-bottom: 75px;

        a{
            margin-right: 35px;
            color: #aaa;

            &:after{
                content: "";
                height: 1px;
                width: 0%;
                background: #285BD4;
                position: absolute;
                left: auto;
                right: 0;
                bottom: -3px;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }

            &:hover{
                color: #fff;
                transition: .25s cubic-bezier(.75,.25,.25,.75);

                &:after{
                    width: 100%;
                    left: 0;
                    right: auto;
                    transition: .25s cubic-bezier(.75,.25,.25,.75);
                }
            }

            &.active{
                color: #fff !important;
                outline: 0;
                text-decoration: none;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
        
                &:after{
                    width: 100%;
                    right: auto;
                    left: 0;
                    transition: .25s cubic-bezier(.75,.25,.25,.75);
                }
            }
        }
    }

    .portfolio-row{
        margin: 0 -35px;

        .portfolio-box{
            margin-bottom: 70px;
            padding: 0 35px;
            position: relative;

            .cancel-anchor{
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 999;
                display: none;
            }

            a{
                color: #fff;
            }

            .portfolio-image{
                opacity: 1;
                transition: .4s cubic-bezier(.75,.25,.25,.75);
                overflow: hidden;
                position: relative;
                cursor: pointer;

                img{
                    max-width: 100%;
                    max-height: 100%;
                    transform: scale(1);
                    opacity: 1;
                    transition: .4s cubic-bezier(.75,.25,.25,.75);
                }

                .dark-bg{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: rgba(0, 0, 0, .7);
                    opacity: 0;
                    z-index: 100;
                    transition: .4s cubic-bezier(.75,.25,.25,.75);
                }

                .portfolio-text{
                    h3{
                        font-weight: 300;
                        font-size: 1.3em;
                        position: absolute;
                        top: 30px;
                        left: 30px;
                        z-index: 101;
                        opacity: 0;
                        transform: translateX(10px);
                        will-change: transform;
                        transition: .4s cubic-bezier(.75,.25,.25,.75);
                        @media (max-width: 768px){
                            font-size: 1.1em;
                        }
                    }

                    h6{
                        color: #aaa;
                        font-weight: 300;
                        font-size: .8em;
                        transform: translateX(10px);
                        letter-spacing: .3px;
                        position: absolute;
                        left: 30px;
                        bottom: 25px;
                        z-index: 101;
                        opacity: 0;
                        will-change: transform;
                        transition: .4s cubic-bezier(.75,.25,.25,.75);
                    }
                }

                &:hover{
                    img{
                        transform: scale(1.1);
                        transition: .4s cubic-bezier(.75,.25,.25,.75);
                    }

                    .dark-bg{
                        opacity: 1;
                        transition: .4s cubic-bezier(.75,.25,.25,.75);
                    }

                    .portfolio-text{
                        h3{
                            opacity: 1;
                            transform: translateX(0px);
                            transition: .4s cubic-bezier(.75,.25,.25,.75);
                        }

                        h6{
                            opacity: 1;
                            transform: translateX(0px);
                            transition: .4s cubic-bezier(.75,.25,.25,.75);
                        }
                    }
                }
            }

            &.portfolio-hidden{

                .cancel-anchor{
                    display: block;
                }

                .portfolio-image{
                    opacity: .15 !important;
                    transition: all .3s ease-in-out;

                    &:hover{
                        img{
                            transform: scale(1);
                            transition: .4s cubic-bezier(.75,.25,.25,.75);
                        }

                        .dark-bg{
                            opacity: 0;
                            transition: .4s cubic-bezier(.75,.25,.25,.75);
                        }

                        .portfolio-text{
                            h3{
                                opacity: 0;
                                transform: translateX(0px);
                                transition: .4s cubic-bezier(.75,.25,.25,.75);
                            }

                            h6{
                                opacity: 0;
                                transform: translateX(0px);
                                transition: .4s cubic-bezier(.75,.25,.25,.75);
                            }
                        }
                    }
                }
            }
        }
    }
}



/* =====*****@@@@@ 5.Single Project Page @@@@@*****===== */

/* ===== 5.1.Single Project Hero ===== */
.single-project-hero{
    height: 100vh !important;
    background: url('../images/single-project-hero.jpg') !important;
    background-size: cover !important;
    background-position: 50% !important;
    position: relative;

    .dark-bg{
        background: #000;
        opacity: .8;
    }
}

/* ===== 5.2.Project Description ===== */
#projectDescription{
    padding: 200px 0px 150px;
    @media (max-width: 480px){
        padding: 100px 0;
    }
    @media (min-width: 2000px){
        padding: 400px 0;
    }

    h2{
        @media (max-width: 1200px){
            margin-bottom: 75px;
        }
        @media (max-width: 567px){
            margin-bottom: 50px;
        }
    }

    h5{
        color: #888;
        margin-bottom: 25px; 
    }

    .project-desc{
        padding-top: 10px;

        p.big-p{
            padding-right: 50px;
        }
    }

    .desc-bottom{
        margin-top: 55px;
        @media (max-width: 768px){
            margin-top: 10px;
            margin-bottom: 0px;
        }

        a{
            color: #aaa;
        }

        p{
            color: #888;
        }
    }

    @media (max-width:1200px){
        .desc-bottom-after-2{
            order: 4;
        }
        .desc-bottom-after-1{
            order: 3;
        }
        .desc-bottom-before-2{
            margin-top: 50px;
            margin-bottom: 50px;
            order: 2;
        }
        .desc-bottom-before-1{
            margin-top: 50px;
            margin-bottom: 50px;
            order: 1;
        }
    }

    @media (max-width: 992px){
        .desc-bottom-before-2{
            margin-top: 0px;
        }
    }
}

/* ===== 5.3.Project Images ===== */
#projectImages{
    padding: 150px 0px;
    @media(max-width: 768px){
        padding: 200px 0px 100px 0px;
    }
    @media (max-width: 480px){
        padding: 100px 0;
    }
    @media (min-width: 2000px){
        padding: 400px 0px;
    }

    .row{
        margin: 0 -50px;
    }

    .project-img-left{
        padding: 0 50px;

        img{
            max-width: 100%;
            max-height: 100%;
            margin-top: 100px;
            @media (max-width: 768px){
                margin-top: 0px;
                margin-bottom: 100px;
            }
        }
    }

    .project-img-right{
        padding: 0 50px;

        img{
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 100px;
        }
    }
}

/* ===== 5.4.Project Next ===== */
#projectNext{
    padding: 150px 0px 150px 0px;
    @media (max-width: 480px){
        padding: 100px 0;
    }
    @media (min-width: 2000px){
        padding: 0px 0px 150px 0px;
    }

    .project-nav{
        text-align: center;

        h5{
            color: #888;
            margin-bottom: 30px;
        }

        h1{
            a{
                color: #aaa;
            }
        }
    }
}



/* =====*****@@@@@ 6.About Page @@@@@*****===== */

/* ===== 6.1.Simple Hero ===== */
.simple-hero{
    height: 100vh !important;
    background: #0c0c0c !important;
}

/* ===== 6.2.About Story Section ===== */
#aboutStory{
    padding: 200px 0px 150px 0px;
    @media (max-width: 480px){
        padding: 100px 0;
    }
    @media (min-width: 2000px){
        padding: 400px 0px;
    }

    h2{
        margin-bottom: 50px;
    }

    .story-left{
        @media (max-width: 1200px){
            margin-bottom: 75px;
        }
    }

    .story-right{
        padding-top: 10px;
    }

    .story-bottom{
        margin-top: 50px;
    }

    a{
        color: #aaa;
    }
}

/* ===== 6.3.About Team Section ===== */
#aboutTeam{
    padding: 150px 0px;
    @media (max-width: 480px){
        padding: 100px 0 30px 0px;
    }
    @media (min-width: 2000px){
        padding: 400px 0px 330px 0px;
    }

    .team-row{
        margin: 0 -35px;

        .team-title{
            padding: 0 35px;
        }

        .team-box{
            padding: 0px 35px;
            margin-bottom: 70px;

            .team-box-title{
                display: flex;
                justify-content: space-between;

                h3{
                    font-size: 1.3em;
                    font-weight: 300;
                    color: #fff;
                    margin-bottom: 15px;
                    @media (max-width: 768px){
                        font-size: 1em;
                    }
                }

                a{
                    color: #fff;
                    transition: all .1s ease-in-out !important;

                    &:after{
                        display: none;
                    }

                    &:hover{
                        color: #285BD4 !important;
                        transition: all .1s ease-in-out !important;
                    }
                }

                span{
                    margin-left: 12px;
                    position: relative;
                    bottom: 10px;
                    opacity: 0;
                    transition: all .3s ease-in-out !important;
                }
            }

            h5{
                color: #888;
            }

            img{
                max-width: 100%;
                max-height: 100%;
                margin-bottom: 30px;
            }

            &:hover{
                span{
                    bottom: 2px;
                    opacity: 1;
                    transition: all .3s ease-in-out !important;
                }
            }
        }
    }
}

/* ===== 6.4.About Services Section ===== */
#aboutServices{
    padding: 80px 0px 200px;
    position: relative;
    @media (max-width: 768px){
        padding: 200px 0px 150px 0;
    }
    @media (max-width: 480px){
        padding: 100px 0 40px 0;
    }
    @media (min-width: 2000px){
        padding: 400px 0px 340px 0px;
    }

    i{
        font-size: 2em;
        color: #285BD4;
    }

    h2{
        margin-bottom: 30px;
    }

    p{
        margin-bottom: 50px;
    }

    .services-left{
        @media (max-width: 992px){
            margin-bottom: 75px;
        }
    }

    .services-right{
        padding-top: 12px;
    }

    .services-box{
        margin-top: 15px;
        margin-bottom: 60px;
    }

    h5{
        color: #888;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: .9em;
    }

    a{
        color: #aaa;
    }

    ul{
        li{
            line-height: 2.2;
        }
    }
}



/* =====*****@@@@@ 7.News Page @@@@@*****===== */
#newsSection{
    padding: 250px 0 100px 0;
    @media (max-width: 480px){
        padding: 100px 0 50px 0px;
    }
    @media (min-width: 2000px){
        padding: 400px 0px 250px 0px;
    }

    .blog-post{
        margin-bottom: 150px;
        cursor: pointer;
        @media (max-width: 480px){
            margin-bottom: 100px;
        }

        .blog-date{
            @media (max-width: 992px){
                order: 3;
            }

            h5{
                color: #888;
                margin-top: 37px;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
                @media (max-width: 992px){
                    color: #aaa;
                }
                @media (min-width: 2000px){
                    margin-top: 55px;
                }
            }
        }

        .blog-title{
            display: flex;
            align-items: center;
            @media (max-width: 992px){
                order: 2;
            }

            h2{
                line-height: 1.6;
                padding-right: 25px;
                color: #888;
                padding-right: 50px;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
                @media (max-width: 992px){
                    color: #fff;
                }
            }
        }

        .blog-image{
            @media (max-width: 992px){
                order: 1;
                margin-bottom: 50px;
            }

            img{
                opacity: 0;
                max-width: 100%;
                max-height: 100%;
                position: relative;
                right: 0px;
                transition: .35s cubic-bezier(.75,.25,.25,.75);
                @media (max-width: 992px){
                    opacity: 1 !important;
                    right: 0px !important;
                }
            }
        }

        a{
            &:after{
                display: none;
            }
        }

        &.selected{
            .blog-date{
                h5{
                    color: #aaa;
                    transition: .25s cubic-bezier(.75,.25,.25,.75);
                }
            }

            .blog-title{
                h2{
                    color: #fff;
                    transition: .25s cubic-bezier(.75,.25,.25,.75);
                }
            }

            .blog-image{
                img{
                    opacity: 1;
                    right: -10px;
                    transition: .35s cubic-bezier(.75,.25,.25,.75);
                }
            }
        }
    }
}



/* =====*****@@@@@ 8.Single News Page @@@@@*****===== */
.single-news-hero{
    height: 100vh !important;

    h6{
        color: #888;
        letter-spacing: 0px;
        font-weight: 400;
        margin-bottom: 50px !important;

        span{
            text-transform: none !important;
            margin-right: 75px;
            @media (max-width: 768px){
                display: block;
                margin-bottom: 25px;
                margin-right: 0px;
            }
        }

        a{
            color: #aaa;
            margin-right: 25px;
        }
    }

    img{
        max-width: 100%;
        max-height: 100%;
    }
}

#singleNews{
    padding: 200px 0px;
    @media (max-width: 480px){
        padding: 100px 0;
    }

    img{
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 75px;
    }

    .single-news-left{
        h3{
            margin-bottom: 35px;
        }

        .single-news-date{
            margin-bottom: 40px;
            font-weight: 300;
            letter-spacing: .5px;
            margin-right: 75px;
        }

        blockquote{
            margin: 35px 0px;
            padding-left: 50px;
            padding-bottom: 3px;
            border-left: 5px solid #222;

            p{
                font-size: 1.2em;
                color: #eee;
            }

            cite{
                font-size: .8em;
                color: #656565;
            }
        }

        ul{
            margin: 30px 0px;
            padding-left: 50px;

            li{
                &:before{
                    content: '';
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    border: 0;
                    background: #454545;
                    display: inline-block;
                    position: relative;
                    right: 16px;
                    bottom: 4px;
                }
            }
        }

        .tags{
            margin-top: 75px;

            span{
                border: 1px solid #285BD4;
                padding: 7px 10px;
                border-radius: 25px;
                font-size: .7em;
                margin-right: 10px;
                color: #fff;
                cursor: pointer;
                transition: .25s cubic-bezier(.75,.25,.25,.75);

                &:hover{
                    color: #fff;
                    background: #285BD4;
                    transition: .25s cubic-bezier(.75,.25,.25,.75);
                }
            }
        }
    }

    .sidebar{
        padding-left: 75px;
        @media (max-width: 1200px){
            padding-left: 15px;
            margin-top: 150px;
        }

        .widget{
            margin-bottom: 75px;
            border: 1px solid #222;
            padding: 40px;

            h5{
                color: #888;
                margin-bottom: 30px;
            }

            .recent-post{
                margin-bottom: 30px;

                h4{
                    font-weight: 300;
                    color: #fff;
                    font-size: 1em;
                    line-height: 1.6;
                }

                .recent-date{
                    font-size: .75em;
                    color: #888;
                }

                &:last-child{
                    margin-bottom: 0px;
                }
            }

            ul{
                li{
                    line-height: 1;
                    margin-bottom: 17px;

                    &:last-child{
                        margin-bottom: 10px;
                    }

                    a{
                        color: #aaa;
                    }
                }
            }

            a{
                color: #aaa;
                margin-bottom: 15px;
            }
        }
    }
}



/* =====*****@@@@@ 9.Contact Page @@@@@*****===== */
#contactSection{
    padding: 250px 0px 200px 0px;
    @media (max-width: 480px){
        padding: 100px 0;
    }
    @media (min-width: 2000px){
        padding: 400px 0px 350px 0px;
    }

    .contact-left{
        @media (max-width: 992px){
            margin-bottom: 100px;
        }

        h2{
            margin-bottom: 100px;
            line-height: 1.6;
            @media (max-width: 992px){
                margin-bottom: 50px;
            }
        }

        h5{
            color: #888;
            margin-bottom: 25px;
            @media(max-width: 576px){
                margin-top: 30px;
            }
        }

        ul{
            margin-bottom: 100px;
            @media(max-width: 576px){
                margin-bottom: 30px;
            }
        }

        .footer-menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
    
                li{
                    display: inline-block;
                    font-size: .85em;
                    font-weight: 400;
                    margin-right: 30px;
    
                    a{
                        color: #aaa;
                        
                        &:after{
                            width: 0;
                            left: auto;
                            right: 0;
                            transition: .25s cubic-bezier(.75,.25,.25,.75);
                        }
    
                        &:hover{
                            color: #fff;
                            transition: .25s cubic-bezier(.75,.25,.25,.75);
        
                            &:after{
                                width: 100%;
                                left: 0;
                                right: auto;
                                transition: .25s cubic-bezier(.75,.25,.25,.75);
                            }
                        }
                    }
                }
            }
        }
    
        .copyright{
            @media (max-width: 1199px){
                margin-top: 30px;
            }
    
            p{
                display: inline-block;
                font-size: .9em;
                font-weight: 300;
                line-height: 2;
                color: #b6b6b6;
                margin-bottom: 25px;
            }
        }
    }

    .contact-right{
        input{
            width: 100%;
            background: transparent;
            border: 0;
            border-bottom: 1px solid #333;
            padding: 0 0 10px 0;
            margin: 20px 0px 20px 0px;
            font-weight: 300;
            font-size: 1em;
            color: #fff;
            transition: .25s cubic-bezier(.75,.25,.25,.75);

            &::placeholder{
                color: #888;
                font-weight: 300;
            }

            &:focus{
                outline: 0;
                border-bottom: 1px solid #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }
        }

        textarea{
            width: 100%;
            background: transparent;
            border: 0;
            border-bottom: 1px solid #333;
            padding: 0 0 10px 0;
            margin: 20px 0px 20px 0px;
            font-weight: 300;
            min-height: 145px;
            font-size: 1em;
            color: #fff;
            transition: .25s cubic-bezier(.75,.25,.25,.75);

            &::placeholder{
                color: #888;
                font-weight: 300;
            }

            &:focus{
                outline: 0;
                border-bottom: 1px solid #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }
        }

        input[type=submit]{
            padding: 10px 20px;
            margin: 30px 0 0 0;
            border: 0;
            font-weight: 300;
            font-size: .9em;
            color: #fff;
            text-align: left;
            transition: .25s cubic-bezier(.75,.25,.25,.75);
            position: relative;
            border: 1px solid #285BD4;
            background: transparent;
            display: inline-block;
            width: auto;

            &:hover{
                background: #285BD4;
                transition: .25s cubic-bezier(.75,.25,.25,.75);
            }

            &:focus{
                outline: 0;
                text-decoration: none;
            }
        }

        #message{
            .successPage{
                margin-top: 15px;

                h1{
                    font-weight: 300 !important;
                }
            }
        }
    }
}



/* =====*****@@@@@ 10.Footer @@@@@*****===== */
#footerSection{
    padding: 200px 0px;
    background: #0c0c0c;
    position: relative;
    @media (max-width: 480px){
        padding: 100px 0;
    }
    @media (min-width: 2000px){
        padding: 400px 0px;
    }

    .footer-title{
        margin-bottom: 125px;
        @media (max-width: 1200px){
            margin-bottom: 35px;
        }

        h2{
            line-height: 1.6;
        }
    }

    .footer-project{
        margin-bottom: 125px;
        padding-bottom: 23px;
        display: flex;
        align-items: flex-end;
        @media (max-width: 1440px){
            padding-bottom: 25px;
        }
        @media (max-width: 1200px){
            margin-bottom: 75px;
            padding-bottom: 0px;
        }
        @media (max-width: 768px){
            margin-bottom: 125px;
        }

        a{
            color: #aaa;
            font-weight: 400;

            &:hover{
                color: #fff;
            }
        }
    }

    .contact-box{
        @media (max-width: 768px){
            margin-bottom: 50px;
        }

        h5{
            color: #888;
            margin-bottom: 25px;
        }

        ul{
            li{
                line-height: 2.4;
            }
        }

        &.proceed-box{
            padding-right: 60px;
        }

        &.contact-mail{
            @media (max-width: 1200px){
                order: 1;
            }
        }

        &.contact-address{
            @media (max-width: 1200px){
                order: 2;
            }
        }
    }

    .footer-menu{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: inline-block;
                font-size: .85em;
                font-weight: 400;
                margin-right: 30px;

                a{
                    color: #aaa;
                    
                    &:after{
                        width: 0;
                        left: auto;
                        right: 0;
                        transition: .25s cubic-bezier(.75,.25,.25,.75);
                    }

                    &:hover{
                        color: #fff;
                        transition: .25s cubic-bezier(.75,.25,.25,.75);
    
                        &:after{
                            width: 100%;
                            left: 0;
                            right: auto;
                            transition: .25s cubic-bezier(.75,.25,.25,.75);
                        }
                    }
                }
            }
        }
    }

    .footer-offset{
        @media (max-width: 1200px){
            display: none;
        }
    }

    .copyright{
        @media (max-width: 1200px){
            order: 3;
            margin-top: 75px;
        }

        p{
            display: inline-block;
            font-size: .9em;
            font-weight: 300;
            line-height: 2;
            color: #b6b6b6;
            margin-bottom: 50px;
        }
    }
}